This notebook is very much at sketch.  Basically, I get **sqlalchemy** working and then I do an analysis to see how many OTM options are present for a given underlying on all the execution dates of the backtest.

## Setting Up **sqlalchemy**

In [ ]:
import sqlalchemy
import pandas as pd
from sqlalchemy.sql import text

url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'

In [ ]:
engine = sqlalchemy.create_engine(url)

## Doing a Simple Test Query

In [ ]:
sql = '''
    select * 
    from option_price
    where datadate = '2018-11-01'
    and underlyingsymbol = 'SPY'
    and expiration = '2018-12-21';
'''

In [ ]:
with engine.connect() as conn:
    query = conn.execute(text(sql))         
df = pd.DataFrame(query.fetchall())

In [ ]:
df

,underlyingsymbol,underlyingprice,flags,optionsymbol,cp,expiration,datadate,strike,lastpx,bidpx,askpx,volume,openinterest,t1openinterest
0,SPY,273.37,*,SPY181221C00010000,call,2018-12-21,2018-11-01,10.0,254.59,262.91,263.62,0,2518,2518
1,SPY,273.37,*,SPY181221P00010000,put,2018-12-21,2018-11-01,10.0,0.01,0.00,0.01,0,3342,3342
2,SPY,273.37,*,SPY181221C00015000,call,2018-12-21,2018-11-01,15.0,265.83,257.93,258.62,0,1145,1145
3,SPY,273.37,*,SPY181221P00015000,put,2018-12-21,2018-11-01,15.0,0.00,0.00,0.01,0,260,260
4,SPY,273.37,*,SPY181221C00020000,call,2018-12-21,2018-11-01,20.0,271.11,252.94,253.62,0,1014,1014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,SPY,273.37,*,SPY181221P00440000,put,2018-12-21,2018-11-01,440.0,0.00,166.28,167.02,0,0,0
408,SPY,273.37,*,SPY181221C00450000,call,2018-12-21,2018-11-01,450.0,0.00,0.00,0.01,0,1,1
409,SPY,273.37,*,SPY181221P00450000,put,2018-12-21,2018-11-01,450.0,157.75,176.28,177.02,0,0,0
410,SPY,273.37,*,SPY181221C00460000,call,2018-12-21,2018-11-01,460.0,0.01,0.00,0.01,0,63,63
411,SPY,273.37,*,SPY181221P00460000,put,2018-12-21,2018-11-01,460.0,180.91,186.28,187.02,0,27,27

## Reading In All Expirations and Execution Dates for the Backtest

In [ ]:
df_weekly_expiration = pd.read_csv('spy_weekly_chains_20100604_20181228.csv')
df_weekly_expiration

    underlying  monthly  expiration last_trade_date   execution
0          SPY    False  2010-06-11      2010-06-11  2010-06-04
1          SPY     True  2010-06-19      2010-06-18  2010-06-11
2          SPY    False  2010-06-25      2010-06-25  2010-06-18
3          SPY    False  2010-07-02      2010-07-02  2010-06-25
4          SPY    False  2010-07-09      2010-07-09  2010-07-02
..         ...      ...         ...             ...         ...
442        SPY    False  2018-11-30      2018-11-30  2018-11-23
443        SPY    False  2018-12-07      2018-12-07  2018-11-30
444        SPY    False  2018-12-14      2018-12-14  2018-12-07
445        SPY     True  2018-12-21      2018-12-21  2018-12-14
446        SPY    False  2018-12-28      2018-12-28  2018-12-21

[447 rows x 5 columns]

## Number of OTM Options per Expiration Data

This is a crude analysis which I improve upon in a subsequent analysis in the notebook entitled 'number_otm_option_execution_date.ipynb'.  Here I am just checking the total number of OTM options, that are in OTM history, for a given (fixed) underlying, on each expiration date.

In [ ]:
for ix_expiration in df_weekly_expiration['expiration']:
    sql = f"select count(*) from otm_history where underlying = 'GLD' and expiration = '{ix_expiration}';"
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
    df = pd.DataFrame(query.fetchall())
    print(sql)
    print(df['count'][0])

select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-06-11';
0
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-06-19';
11500
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-06-25';
0
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-07-02';
73
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-07-09';
60
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-07-17';
2095
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-07-23';
81
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-07-30';
71
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-08-06';
62
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-08-13';
65
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-08-21';
2420
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-08-27';
68
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-09-03';
55
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-09-10';
29
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-09-18';
12724
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-09-24';
40
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-10-01';
42
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-10-08';
43
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-10-16';
2089
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-10-22';
51
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-10-29';
48
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-11-05';
58
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-11-12';
52
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-11-20';
1586
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-11-26';
42
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-12-03';
63
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-12-10';
78
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-12-18';
12886
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-12-23';
51
select count(*) from otm_history where underlying = 'GLD' and expiration = '2010-12-31';
4488
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-01-07';
87
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-01-14';
68
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-01-22';
20625
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-01-28';
61
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-02-04';
89
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-02-11';
69
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-02-19';
3210
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-02-25';
55
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-03-04';
65
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-03-11';
73
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-03-19';
11641
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-03-25';
75
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-04-01';
73
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-04-08';
67
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-04-16';
3645
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-04-21';
54
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-04-29';
56
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-05-06';
87
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-05-13';
82
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-05-21';
3633
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-05-27';
75
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-06-03';
63
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-06-10';
79
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-06-18';
12565
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-06-24';
77
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-07-01';
68
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-07-08';
53
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-07-16';
3492
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-07-22';
81
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-07-29';
96
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-08-05';
100
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-08-12';
97
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-08-20';
4090
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-08-26';
122
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-09-02';
104
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-09-09';
100
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-09-17';
14388
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-09-23';
104
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-09-30';
5905
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-10-07';
118
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-10-14';
105
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-10-22';
5324
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-10-28';
94
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-11-04';
114
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-11-11';
110
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-11-19';
5968
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-11-25';
72
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-12-02';
105
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-12-09';
103
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-12-17';
16615
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-12-23';
101
select count(*) from otm_history where underlying = 'GLD' and expiration = '2011-12-30';
5742
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-01-06';
83
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-01-13';
95
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-01-21';
20277
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-01-27';
93
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-02-03';
85
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-02-10';
101
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-02-18';
5347
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-02-24';
76
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-03-02';
108
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-03-09';
98
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-03-17';
17756
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-03-23';
92
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-03-30';
11318
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-04-05';
76
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-04-13';
74
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-04-21';
5117
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-04-27';
91
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-05-04';
92
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-05-11';
86
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-05-19';
4647
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-05-25';
101
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-06-01';
88
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-06-08';
91
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-06-16';
17247
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-06-22';
118
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-06-29';
10744
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-07-06';
89
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-07-13';
103
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-07-21';
5040
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-07-27';
96
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-08-03';
109
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-08-10';
86
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-08-18';
4793
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-08-24';
80
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-08-31';
100
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-09-07';
79
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-09-14';
146
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-09-22';
18652
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-09-28';
7061
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-10-05';
160
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-10-12';
143
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-10-20';
4996
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-10-26';
121
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-11-02';
93
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-11-09';
145
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-11-17';
4788
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-11-23';
110
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-11-30';
221
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-12-07';
269
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-12-14';
387
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-12-22';
16251
select count(*) from otm_history where underlying = 'GLD' and expiration = '2012-12-28';
550
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-01-04';
348
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-01-11';
425
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-01-19';
26237
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-01-25';
571
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-02-01';
614
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-02-08';
425
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-02-16';
3755
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-02-22';
564
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-03-01';
686
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-03-08';
554
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-03-16';
18885
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-03-22';
619
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-03-28';
12721
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-04-05';
564
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-04-12';
470
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-04-20';
3586
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-04-26';
688
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-05-03';
749
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-05-10';
678
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-05-18';
3867
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-05-24';
1143
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-05-31';
952
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-06-07';
727
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-06-14';
624
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-06-22';
17421
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-06-28';
14152
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-07-05';
845
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-07-12';
568
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-07-20';
4557
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-07-26';
920
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-08-02';
583
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-08-09';
593
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-08-17';
5997
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-08-23';
778
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-08-30';
667
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-09-06';
737
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-09-13';
593
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-09-21';
22567
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-09-27';
608
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-10-04';
801
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-10-11';
630
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-10-19';
4612
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-10-25';
1125
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-11-01';
1099
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-11-08';
750
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-11-16';
4576
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-11-22';
844
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-11-29';
802
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-12-06';
607
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-12-13';
356
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-12-21';
18519
select count(*) from otm_history where underlying = 'GLD' and expiration = '2013-12-27';
558
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-01-03';
519
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-01-10';
430
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-01-18';
29853
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-01-24';
488
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-01-31';
583
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-02-07';
592
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-02-14';
455
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-02-22';
4175
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-02-28';
638
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-03-07';
608
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-03-14';
562
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-03-22';
18443
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-03-28';
841
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-04-04';
900
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-04-11';
853
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-04-19';
3283
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-04-25';
1222
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-05-02';
1112
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-05-09';
836
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-05-17';
3341
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-05-23';
1092
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-05-30';
1128
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-06-06';
909
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-06-13';
923
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-06-21';
16270
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-06-27';
1212
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-07-03';
858
select count(*) from otm_history where underlying = 'GLD' and expiration = '2014-07-11';
879