# Sketches for a Backtest

Fundamentally, my strategy is about putting on a set of options trades at the end of day each Friday.  The options will have one week to expiration at the time of execution.  I will then delta-hedge the options trades at the end of each day.  I will hold each delta-hedged option position until the options expire.  As I get more sophisticated, I will consider early exit criteria - but I don't want to get too carried away with this because I don't want to overfit the data.

I am contemplating using an object oriented approach to my backtest.  Here are some ideas for classes/objects that I would be a part of this object oriented approach.

1. `WeeklyStrategy` - this is going to be the object that contains all the data for a given weekly iteration of my strategy.  It will contain:`
    - `expiration` date of the options that will be traded
    - `execution_date` the date that the option will be executed
    - `last_trade_date` different than the execution date for the monthly options (for a while)
    - the full universe of underlyings it will be possible to take a position in
    - the `swap_rate` of all the underlyings in the universe on the `execution_date`
    - the volatility forecast of all the underlyings in the universe on the `execution_date`
    - using the above two, we can calculate the `vol_premium` forecast for each of the underlyings in the universe
    - at this point we have enough information to figure out which underlyings we will go long, and which underlyings we will go short (the `leg_max` input will be the maximum number of legs in each direction we will go long and short)
    - once we know which underlyings to go long and short, we need to choose the actual options and sizes to trade
        - let's try to hold onto the full chain for each underlying - this will be a `DataFrame` from the `otm_history` table
        - we'll need to choose strikes (initially let's do strangles and have the delta be an input into the model)
        - premium budget, this will determine the amount of premium to go long and short, to start we will use a 1/n weighting approach, meaning an equal amount of premium bought/sold for each underlying
    - now that we have the actual options and sizes that we are going to trade, we can calculate the daily PNLs for each of the options trades - we'll store these in a `DataFrame`
    - then we can aggregate the daily PNL on `trade_date` which will give us the daily PNL for the `WeeklyStrategy`

## Importing Packages

In [ ]:
import pandas as pd
import numpy as np

## Defining `expiration`, `execution`, and `last_trade_date`

In [ ]:
expiration = '2010-06-11'
execution = '2010-06-04'
last_trade_date = '2010-06-11'
# last_trade_date = need to add last trade date - probably need to go back to the queries and re-run
num_opt = 4
leg_max = 5
delta_long = 0.3
delta_short = 0.3
premium_budget = 500

## Determining the Full Universe of Underlyings

Currently this is in a CSV.  May want to move into the database if needed.

In [ ]:
df_universe = pd.read_csv('../data/universe_per_expiration.csv')
df_universe

      underlying  monthly  expiration execution_date last_trade_date  num_otm
0            DIA    False  2010-06-11     2010-06-04      2010-06-11       15
1            DIA     True  2010-06-19     2010-06-11      2010-06-18       15
2            DIA    False  2010-06-25     2010-06-18      2010-06-25       11
3            DIA     True  2010-07-17     2010-07-09      2010-07-16       13
4            DIA     True  2010-08-21     2010-08-13      2010-08-20       14
...          ...      ...         ...            ...             ...      ...
13169        XRT    False  2018-11-30     2018-11-23      2018-11-30       14
13170        XRT    False  2018-12-07     2018-11-30      2018-12-07       15
13171        XRT    False  2018-12-14     2018-12-07      2018-12-14       13
13172        XRT     True  2018-12-21     2018-12-14      2018-12-21       11
13173        XRT    False  2018-12-28     2018-12-21      2018-12-28       10

[13174 rows x 6 columns]

In [ ]:
# one-off code to grab all symbols in universe
# df_symbols = pd.DataFrame({
#     'underlying':df_universe['underlying'].unique()
# })
# df_symbols.to_csv('../data/universe_symbols.csv', index=False)

Here I am filtering for underlyings that have at least 4 options at the time of execution.  This is an input into the model.

In [ ]:
df_universe = \
    (
    df_universe
        .query('num_otm >= @num_opt')
        .sort_values(by=['expiration', 'underlying'])
        .reset_index(drop=True)
    )
df_universe

      underlying  monthly  expiration execution_date last_trade_date  num_otm
0            DIA    False  2010-06-11     2010-06-04      2010-06-11       15
1            IWM    False  2010-06-11     2010-06-04      2010-06-11       15
2            QQQ    False  2010-06-11     2010-06-04      2010-06-11        6
3            SPY    False  2010-06-11     2010-06-04      2010-06-11       16
4            DIA     True  2010-06-19     2010-06-11      2010-06-18       15
...          ...      ...         ...            ...             ...      ...
11632        XLV    False  2018-12-28     2018-12-21      2018-12-28       15
11633        XLY    False  2018-12-28     2018-12-21      2018-12-28       10
11634        XME    False  2018-12-28     2018-12-21      2018-12-28        9
11635        XOP    False  2018-12-28     2018-12-21      2018-12-28       13
11636        XRT    False  2018-12-28     2018-12-21      2018-12-28       10

[11637 rows x 6 columns]

Now let's filter by `expiration` and `execution` to get the specific universe for this week.

In [ ]:
df_expiration_universe = df_universe.query('expiration==@expiration and execution_date==@execution')
df_expiration_universe

  underlying  monthly  expiration execution_date last_trade_date  num_otm
0        DIA    False  2010-06-11     2010-06-04      2010-06-11       15
1        IWM    False  2010-06-11     2010-06-04      2010-06-11       15
2        QQQ    False  2010-06-11     2010-06-04      2010-06-11        6
3        SPY    False  2010-06-11     2010-06-04      2010-06-11       16

## Get `chain_history` for Each Underlying in Universe

Now we proceed to getting the `chain_history` for each of the underlyings in our universe.

This helper function create the part of the string for our query.

In [ ]:
def create_symbols_string(underlyings):
    symbols = '('
    for ix_underlying in underlyings:
        symbols += f"'{ix_underlying}',"
    symbols = symbols[:-1] + ')'
    return symbols

Let's just see that the function works.

In [ ]:
create_symbols_string(df_expiration_universe['underlying'])

"('DIA','IWM','QQQ','SPY')"

Now, lets' create the full query.

In [ ]:
sql = f'''
    select *
    from chain_history
    where underlying in {create_symbols_string(df_expiration_universe['underlying'])}
    and expiration = '{expiration}'
    and trade_date = '{execution}';
'''
print(sql)

    select *
    from chain_history
    where underlying in ('DIA','IWM','QQQ','SPY')
    and expiration = '2010-06-11'
    and trade_date = '2010-06-04';

Next let's run the query using the **sqlalchemy** packge.  First we create an `engine` object.

In [ ]:
import sqlalchemy
import pandas as pd
from sqlalchemy.sql import text

url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'
engine = sqlalchemy.create_engine(url)

Now we can use the engine to actually runt the query and return its result as a `DataFrame`.

In [ ]:
with engine.connect() as conn:
    query = conn.execute(text(sql))         
df_chain_history = pd.DataFrame(query.fetchall())

Let's look at the result.

In [ ]:
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid
0,DIA,2010-06-11,2010-06-04,99.687,5,0.2894,0.3312,0.3110
1,IWM,2010-06-11,2010-06-04,63.574,5,0.4466,0.4828,0.4650
2,QQQ,2010-06-11,2010-06-04,45.180,5,0.3297,0.3340,0.3318
3,SPY,2010-06-11,2010-06-04,107.089,5,0.3258,0.3508,0.3385

Because we queried from a database, the `expiration` and `trade_date` come in as `datetime` objects.  Let's turn these into strings so they can be compared to the dates in the `DataFrames` we read in from CSVs.

In [ ]:
df_chain_history['expiration'] = df_chain_history['expiration'].apply(str)
df_chain_history['trade_date'] = df_chain_history['trade_date'].apply(str)

Now we can merge together our `chain_history` to our universe.

In [ ]:
df_expiration_universe = \
    (
    df_expiration_universe
        .merge(df_chain_history, how='left', 
               left_on=['underlying','expiration','execution_date'],
               right_on=['underlying', 'expiration', 'trade_date'],
              )
    )
df_expiration_universe

,underlying,monthly,expiration,execution_date,last_trade_date,num_otm,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid
0,DIA,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,99.687,5,0.2894,0.3312,0.3110
1,IWM,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,63.574,5,0.4466,0.4828,0.4650
2,QQQ,False,2010-06-11,2010-06-04,2010-06-11,6,2010-06-04,45.180,5,0.3297,0.3340,0.3318
3,SPY,False,2010-06-11,2010-06-04,2010-06-11,16,2010-06-04,107.089,5,0.3258,0.3508,0.3385

Capturing `d2x` from `chain_history`.

In [ ]:
d2x = df_chain_history['d2x'].iloc[0]
d2x

5

## Get Volatility Forecast & Calculate `vol_premium` Forecast

Next we grab the volatility forecasts that were precalculated in a notebook entitled *close_to_close_volatility_forecast_function*.   We'll start with close-to-close and add others later.

In [ ]:
df_vol_forecast = pd.read_csv('../data/close_to_close_forecasts.csv')
df_vol_forecast

      ticker  week_num  week_start    week_end  close_to_close
0        DIA         0  2010-06-01  2010-06-04        0.363399
1        DIA         1  2010-06-07  2010-06-11        0.235762
2        DIA         2  2010-06-14  2010-06-18        0.139662
3        DIA         3  2010-06-21  2010-06-25        0.130178
4        DIA         4  2010-06-28  2010-07-02        0.160041
...      ...       ...         ...         ...             ...
17455    XRT       442  2018-11-19  2018-11-23        0.362015
17456    XRT       443  2018-11-26  2018-11-30        0.172415
17457    XRT       444  2018-12-03  2018-12-07        0.401701
17458    XRT       445  2018-12-10  2018-12-14        0.225990
17459    XRT       446  2018-12-17  2018-12-21        0.221403

[17460 rows x 5 columns]

Next, we `merge` in our volatility forecasts into our universe.  This allows to calcuclated a `vol_prem_forecast`.

In [ ]:
df_expiration_universe = \
    (
    df_expiration_universe
        .merge(df_vol_forecast, how='left',
               left_on=['underlying', 'execution_date'],
               right_on=['ticker', 'week_end'],)
        .assign(vol_prem_forecast = lambda df: df['swap_rate_mid'] - df['close_to_close'])
    )
df_expiration_universe

,underlying,monthly,expiration,execution_date,last_trade_date,num_otm,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid,ticker,week_num,week_start,week_end,close_to_close,vol_prem_forecast
0,DIA,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,99.687,5,0.2894,0.3312,0.3110,DIA,0,2010-06-01,2010-06-04,0.363399,-0.052399
1,IWM,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,63.574,5,0.4466,0.4828,0.4650,IWM,0,2010-06-01,2010-06-04,0.588692,-0.123692
2,QQQ,False,2010-06-11,2010-06-04,2010-06-11,6,2010-06-04,45.180,5,0.3297,0.3340,0.3318,QQQ,0,2010-06-01,2010-06-04,0.400278,-0.068478
3,SPY,False,2010-06-11,2010-06-04,2010-06-11,16,2010-06-04,107.089,5,0.3258,0.3508,0.3385,SPY,0,2010-06-01,2010-06-04,0.420077,-0.081577

## Choosing Underlyings to Go Long and Short

Now that we have `vol_prem_forecasts`, we can choose which underlyings to go long, and which underlyings to go short.  In order to do this I will use the `leg_max` parameter.  The essential rule is that if there are more that `2 * leg_max` underlyings in the universe then we will go long `leg_max` underlyings and short `leg_max` underlyings.  If there are less that `2 * leg_max` underlyings, we will go short the floored half of the number of underlyings, and long the floored half of the underlyings.

In [ ]:
leg_size = leg_max
if len(df_expiration_universe) < 2 * leg_max:
    leg_size = len(df_expiration_universe) // 2
leg_size

2

Let's sort the universe of options by the size of the `vol_prem_forecast`.

In [ ]:
df_expiration_universe.sort_values(by=['vol_prem_forecast'], inplace=True)
df_expiration_universe

,underlying,monthly,expiration,execution_date,last_trade_date,num_otm,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid,ticker,week_num,week_start,week_end,close_to_close,vol_prem_forecast
1,IWM,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,63.574,5,0.4466,0.4828,0.4650,IWM,0,2010-06-01,2010-06-04,0.588692,-0.123692
3,SPY,False,2010-06-11,2010-06-04,2010-06-11,16,2010-06-04,107.089,5,0.3258,0.3508,0.3385,SPY,0,2010-06-01,2010-06-04,0.420077,-0.081577
2,QQQ,False,2010-06-11,2010-06-04,2010-06-11,6,2010-06-04,45.180,5,0.3297,0.3340,0.3318,QQQ,0,2010-06-01,2010-06-04,0.400278,-0.068478
0,DIA,False,2010-06-11,2010-06-04,2010-06-11,15,2010-06-04,99.687,5,0.2894,0.3312,0.3110,DIA,0,2010-06-01,2010-06-04,0.363399,-0.052399

We will go long the underlyings with the smallest `vol_premium_forecast`.

In [ ]:
longs = list(df_expiration_universe.head(leg_size)['underlying'])
longs

['IWM', 'SPY']

We will go short the underlyings with the largest `vol_prem_forecast`.

In [ ]:
shorts = list(df_expiration_universe.tail(leg_size)['underlying'])
shorts

['QQQ', 'DIA']

In [ ]:
unds = longs + shorts
dirs = leg_size * [1] + leg_size * [-1]
df_directions = pd.DataFrame({
    'underlying':unds,
    'direction':dirs,
})
df_directions

  underlying  direction
0        IWM          1
1        SPY          1
2        QQQ         -1
3        DIA         -1

Let's create a `dict` that contains all the underlyings that we will trade along with their directions, and call the dict `directions`.

In [ ]:
# directions = {}
# for ix_underlying in longs:
#     directions[ix_underlying] = 1
# for ix_underlying in shorts:
#     directions[ix_underlying] = -1
# directions

## Get All OTM Options for Each Underlying

Now, for each underlying that we are going to trade, we will read-in the full chain of OTM options from `otm_history`.  Let's begin by assembling our longs an shorts into a single list called `underlyings_to_trade`.

In [ ]:
# underlyings_to_trade = shorts + longs
# underlyings_to_trade

The following function grabs the full chain for a given `underlying`, `expiration`, and `trade_date`.

In [ ]:
def get_otm_options(underlying, expiration, trade_date):
    
    sql = f'''
    select *
    from otm_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and trade_date = '{trade_date}'
    order by strike;
    '''
    
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_otm = pd.DataFrame(query.fetchall())

    return df_otm

Now we will loop through `df_directions['underlying']` and capture all the chains in a `dict` called `otm_options`.

In [ ]:
otm_options = {}
for ix_underlying in df_directions['underlying']:
    df_otm = get_otm_options(ix_underlying, expiration, execution)
    otm_options[ix_underlying] = df_otm

# just printing out the values for a single underlying
otm_options['QQQ']

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,QQQ,2010-06-11,put,42.0,2010-06-04,45.0925,0.1,0.2,0.15,0.4330,0.1099
1,QQQ,2010-06-11,put,43.0,2010-06-04,45.0925,0.3,0.3,0.30,0.4234,0.1952
2,QQQ,2010-06-11,put,44.0,2010-06-04,45.0925,0.5,0.5,0.50,0.3908,0.3056
3,QQQ,2010-06-11,put,45.0,2010-06-04,45.0925,0.8,0.8,0.80,0.3501,0.4579
4,QQQ,2010-06-11,call,46.0,2010-06-04,45.0925,0.4,0.4,0.40,0.2884,0.3363
5,QQQ,2010-06-11,call,47.0,2010-06-04,45.0925,0.2,0.2,0.20,0.3098,0.1886

In [ ]:
#otm_options

## Getting Trades

This function calculates the trades for all the underlyings that we will be trading.  May want to consider breaking out a *small* function that calculates the strangles for a single underlying, and then iterate over all the underlyings in another function.  This is what I do when I get the PNL histories below.

In [ ]:
df_directions

  underlying  direction
0        IWM          1
1        SPY          1
2        QQQ         -1
3        DIA         -1

In [ ]:
#df_directions.query('underlying=="SPY"')['direction'].iloc[0]

In [ ]:
def get_strangle_trades(df_directions, delta_long, delta_short, otm_options):
    # will initial put the trades DataFrames into this list and then concatenate later
    #trades = []
    trades = {}
    for ix_underlying in df_directions['underlying']:

        strangle_trades = []
        
        # grabbing direction from df_directions
        dir = df_directions.query('underlying==@ix_underlying')['direction'].iloc[0]
        
        # determine the direction of the trade
        if dir == 1:
            delta = delta_long
        else:
            delta = delta_short
        
        # adding directions to DataFrame
        otm_options[ix_underlying]['direction'] = dir #directions[ix_underlying]
        
        # calculating the abs_delta_diff between the target delta and the delta of the options
        otm_options[ix_underlying]['target_delta'] = delta
        otm_options[ix_underlying]['abs_delta_diff'] = abs(otm_options[ix_underlying]['delta'] - otm_options[ix_underlying]['target_delta'])
        
        # calculating the put trade
        df_put_trade = otm_options[ix_underlying].query('cp=="put"').sort_values('abs_delta_diff').head(1)
        #trades.append(df_put_trade)
        strangle_trades.append(df_put_trade)
        
        # calculating the call trade
        df_call_trade = otm_options[ix_underlying].query('cp=="call"').sort_values('abs_delta_diff').head(1)
        #trades.append(df_call_trade)
        strangle_trades.append(df_call_trade)

        trades[ix_underlying] = pd.concat(strangle_trades)

    #df_trades = pd.concat(trades)

    #return(df_trades)
    return(trades)

Let's call the function.

In [ ]:
strangle_trades = get_strangle_trades(df_directions, delta_long, delta_short, otm_options)
strangle_trades

{'IWM':    underlying  expiration    cp  strike  trade_date     upx   bid   ask
 6         IWM  2010-06-11   put    61.0  2010-06-04  63.555  0.74  0.85  \
 11        IWM  2010-06-11  call    66.0  2010-06-04  63.555  0.55  0.62

       mid  implied_vol   delta  direction  target_delta  abs_delta_diff
 6   0.795       0.5134  0.2717          1           0.3          0.0283
 11  0.585       0.4108  0.2682          1           0.3          0.0318  ,
 'SPY':    underlying  expiration    cp  strike  trade_date     upx   bid   ask   mid
 4         SPY  2010-06-11   put   104.0  2010-06-04  106.82  0.99  1.17  1.08  \
 10        SPY  2010-06-11  call   110.0  2010-06-04  106.82  0.70  0.78  0.74

     implied_vol   delta  direction  target_delta  abs_delta_diff
 4        0.3883  0.2869          1           0.3          0.0131
 10       0.3018  0.2711          1           0.3          0.0289  ,
 'QQQ':   underlying  expiration    cp  strike  trade_date      upx  bid  ask  mid
 2        QQQ  2010-06-11   put    44.0  2010-06-04  45.0925  0.5  0.5  0.5  \
 4        QQQ  2010-06-11  call    46.0  2010-06-04  45.0925  0.4  0.4  0.4

    implied_vol   delta  direction  target_delta  abs_delta_diff
 2       0.3908  0.3056         -1           0.3          0.0056
 4       0.2884  0.3363         -1           0.3          0.0363  ,
 'DIA':    underlying  expiration    cp  strike  trade_date    upx   bid   ask   mid
 5         DIA  2010-06-11   put    97.0  2010-06-04  99.44  0.79  0.93  0.86  \
 10        DIA  2010-06-11  call   102.0  2010-06-04  99.44  0.55  0.67  0.61

     implied_vol   delta  direction  target_delta  abs_delta_diff
 5        0.3457  0.2791         -1           0.3          0.0209
 10       0.2629  0.2740         -1           0.3          0.0260  }

In [ ]:
strangle_trades['IWM']

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,direction,target_delta,abs_delta_diff
6,IWM,2010-06-11,put,61.0,2010-06-04,63.555,0.74,0.85,0.795,0.5134,0.2717,1,0.3,0.0283
11,IWM,2010-06-11,call,66.0,2010-06-04,63.555,0.55,0.62,0.585,0.4108,0.2682,1,0.3,0.0318

## Get Trade Sizes

This will be based on the premium budget, and the mid price the strangles.

In [ ]:
sizes = []
for ix_underlying in df_directions['underlying']:
    df_strangle = strangle_trades[ix_underlying]
    strangle_price = df_strangle['mid'].sum()
    sz = np.round(premium_budget / (strangle_price * 100), 0)
    sizes.append(sz)
df_directions['size'] = sizes
df_directions['quantity'] = df_directions['direction'] * df_directions['size']
df_directions

  underlying  direction  size  quantity
0        IWM          1   4.0       4.0
1        SPY          1   3.0       3.0
2        QQQ         -1   6.0      -6.0
3        DIA         -1   3.0      -3.0

## Get Trade PNL History for An Individual Trade

I am using a different pattern than for the `get_strangle_trades()` above.  Here I am creating a simple function that interacts with the database and then I am going to wrap a `for`-loop around it.  I may want to refactor the function above in the same way.

In [ ]:
def get_option_pnl_history(underlying, expiration, cp, strike, start_date, end_date):
    sql = f'''
    select * 
    from option_pnl_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and cp = '{cp}'
    and strike = '{strike}'
    and trade_date >= '{start_date}'
    and trade_date <= '{end_date}';
    '''
    
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_option_history = pd.DataFrame(query.fetchall())
    
    cols_to_drop = ['implied_forward', 'implied_vol', 'sh_opt_ask', 'sh_opt_mid', 'sh_hedge', 'sh_total_mid', 'lg_opt_bid', 'lg_opt_mid', 'lg_hedge', 'lg_total_mid']
    df_option_history.drop(columns=cols_to_drop, inplace=True)
    
    return(df_option_history)

In [ ]:
underlying='SPY'
cp = 'put'
strike = 100

get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread
0,SPY,2010-06-11,put,100.0,2010-06-04,5,106.82,0.38,0.53,0.455,0.1311,NaN,NaN,0.15
1,SPY,2010-06-11,put,100.0,2010-06-07,4,105.49,0.37,0.40,0.385,0.1383,0.3044,-0.1844,0.03
2,SPY,2010-06-11,put,100.0,2010-06-08,3,106.62,0.08,0.12,0.100,0.0550,0.1237,-0.1337,0.04
3,SPY,2010-06-11,put,100.0,2010-06-09,2,106.05,0.08,0.14,0.110,0.0619,0.0114,-0.0314,0.06
4,SPY,2010-06-11,put,100.0,2010-06-10,1,109.15,0.00,0.02,0.010,0.0076,-0.0719,0.1119,0.02
5,SPY,2010-06-11,put,100.0,2010-06-11,0,109.68,0.00,0.00,0.000,0.0000,0.0160,0.0040,0.00

In [ ]:
# def get_strangle_pnl_histories(strangle_trades):
#     pnl_history = {}
#     for ix_underlying in strangle_trades:
#         strangle_pnl = []
#         for index, row in strangle_trades[ix_underlying].iterrows():
#             underlying = row['underlying']
#             cp = row['cp']
#             strike = row['strike']
#             df_pnl = get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)
#             strangle_pnl.append(df_pnl)
#         pnl_history[underlying] = pd.concat(strangle_pnl)
#     return(pnl_history)

In [ ]:
# strangle_histories = get_strangle_pnl_histories(strangle_trades)
# strangle_histories['SPY']

In [ ]:
#strangle_trades['IWM']

In [ ]:
def get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity):

    # grabbing pnl history from database
    df_pnl = get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

    # making sure the pnls are in the right order and adding quantity
    df_pnl.sort_values(['d2x'], ascending=False, inplace=True)
    df_pnl['quantity'] = quantity
    df_pnl

    # using the correct pnl column based on direction of trade
    if quantity > 0:
        df_pnl['unit_pnl'] = df_pnl['lg_total_bid']
    else:
        df_pnl['unit_pnl'] = df_pnl['sh_total_ask']
    
    # filling in the execution date PNL with the negative of the spread
    spread = df_pnl['spread'].iloc[0]
    df_pnl.iloc[0, df_pnl.columns.get_loc('unit_pnl')] = -spread

    # translating it into dollar PNL
    df_pnl['dollar_pnl'] = df_pnl['unit_pnl'] * np.abs(df_pnl['quantity']) * 100
    
    return(df_pnl)

In [ ]:
# querying the database
underlying = 'IWM'
cp = 'put'
strike = 61.
quantity = -1

get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity)

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl,dollar_pnl
0,IWM,2010-06-11,put,61.0,2010-06-04,5,63.555,0.74,0.85,0.795,0.2717,NaN,NaN,0.11,-1,-0.1100,-11.00
1,IWM,2010-06-11,put,61.0,2010-06-07,4,61.920,0.94,1.02,0.980,0.3739,0.2742,-0.2442,0.08,-1,0.2742,27.42
2,IWM,2010-06-11,put,61.0,2010-06-08,3,61.890,0.76,0.82,0.790,0.3861,0.2112,-0.1912,0.06,-1,0.2112,21.12
3,IWM,2010-06-11,put,61.0,2010-06-09,2,61.930,0.52,0.60,0.560,0.3417,0.2046,-0.2246,0.08,-1,0.2046,20.46
4,IWM,2010-06-11,put,61.0,2010-06-10,1,64.070,0.00,0.05,0.025,0.0369,-0.1812,0.2112,0.05,-1,-0.1812,-18.12
5,IWM,2010-06-11,put,61.0,2010-06-11,0,64.940,0.00,0.00,0.000,0.0000,0.0179,0.0321,0.00,-1,0.0179,1.79

## Getting Trade History for All the Trades

## OLD CODE

In [ ]:
# def get_strangle_pnl_histories(df_strangle_trades):
#     #pnl_history = []
#     pnl_history = {}
#     for index, row in df_strangle_trades.iterrows():
#         underlying = row['underlying']
#         cp = row['cp']
#         strike = row['strike']
#         df_pnl = get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)
#         #pnl_history.append(df_pnl)
#         pnl_history[underlying] = df_pnl
#     #df_pnl_history = pd.concat(pnl_history)
#     #return(df_pnl_history)
#     return(pnl_history)

In [ ]:
# strangle_histories = get_strangle_pnl_histories(df_strangle_trades)
# #df_strangle_histories = df_strangle_histories.merge(df_directions) # joining the direction of each trade
# strangle_histories

In [ ]:
# strangle_histories['IWM']