# Cleaning Up Problematic QQQ Strikes

The purpose of this notebook was to take care of weird strikes that are in `option_price` and hence made their way into `otm_history`.  It seems to be that QQQ has strikes at an 1/8 of a dollar, or 0.125. However, some of these seem to round to e.g. 93.63 (instead of 93.625).  This was causing issues because of a lack of an exact match (for some reason, probably because I am using `real` data type in my postgres database) when creating the `option_pnl_history`.  So I decided to just remove all these problematic strikes.

In [ ]:
import pandas as pd

## Grabbing All Strikes from `otm_history` Table

From pgAdmin I created the following query and stored the file in a csv entitled: `qqq_all_strikes_in_otm_history.csv`

select distinct strike
from otm_history
where underlying = 'QQQ'
order by strike;

Reading in the CSV that contains the results of the above query.

In [ ]:
df_strikes = pd.read_csv('../data/qqq_all_strikes_in_otm_history.csv')
df_strikes

     strike
0       5.0
1      10.0
2      11.0
3      12.0
4      13.0
..      ...
460   255.0
461   260.0
462   265.0
463   270.0
464   275.0

[465 rows x 1 columns]

## Defining Strikes to Delete

Basically I want to get rid of all strikes that aren't a multiple of 0.5.

In [ ]:
df_strikes_to_delete = df_strikes.query('strike % 0.5 != 0')
df_strikes_to_delete

      strike
13    21.625
15    22.625
17    23.625
19    24.625
21    25.625
..       ...
261  108.630
264  109.630
275  114.630
286  119.630
297  124.630

[114 rows x 1 columns]

## Deleting All the Strikes in `df_strikes_to_delete`

In [ ]:
import psycopg2
import glob
import pandas as pd
import time

In [ ]:
#%%
# creating connection and cursor objects
conn = psycopg2.connect(
    host = "localhost",
    database = "delta_neutral",
    user = "postgres",
    password = "$3lfl0v3",
    port = 5432,
)
cur = conn.cursor()

Testing out a single delete query.

In [ ]:
sql = f"delete from otm_history where underlying='QQQ' and strike=22.625;"

In [ ]:
cur.execute(sql)
conn.commit()

Looping through all the strikes.  Notice how I have to use this funky `abs(strike-{ix_strike}) < 0.01` where clause.  This get to the heart of why there were issues - due to a lack of an exact match.

In [ ]:
for ix_strike in df_strikes_to_delete['strike']:
    sql = f"delete from otm_history where underlying='QQQ' and abs(strike-{ix_strike}) < 0.01;"
    print(sql)
    cur.execute(sql)
    conn.commit()

delete from otm_history where underlying='QQQ' and abs(strike-21.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-22.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-23.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-24.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-25.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-26.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-27.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-28.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-29.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-30.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-31.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-32.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-33.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-34.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-34.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-35.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-36.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-37.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-38.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-39.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-39.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-40.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-41.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-42.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-43.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-44.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-44.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-45.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-45.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-46.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-46.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-47.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-47.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-48.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-48.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-49.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-49.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-50.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-50.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-51.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-51.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-52.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-52.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-53.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-53.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-54.625) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-54.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-55.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-56.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-57.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-58.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-59.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-60.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-61.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-62.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-63.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-64.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-65.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-66.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-67.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-68.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-69.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-70.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-71.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-72.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-73.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-74.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-75.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-76.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-77.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-78.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-79.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-80.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-81.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-82.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-83.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-83.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-84.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-84.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-85.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-85.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-86.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-86.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-87.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-87.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-88.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-88.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-89.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-89.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-90.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-90.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-91.13) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-91.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-92.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-93.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-94.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-95.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-96.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-97.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-98.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-99.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-100.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-101.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-102.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-103.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-104.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-105.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-106.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-107.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-108.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-109.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-114.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-119.63) < 0.01;
delete from otm_history where underlying='QQQ' and abs(strike-124.63) < 0.01;

## OLD CODE

Tried to do it using sqlalchemy but couldn't get it to work.

In [ ]:
# import sqlalchemy
# from sqlalchemy.sql import text

# url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'

# engine = sqlalchemy.create_engine(url)

In [ ]:
# sql = f"delete from otm_history where underlying='QQQ' and strike=23.625;"
# with engine.connect() as conn:
#     query = conn.execute(text(sql))
#     print(query.rowcount)

In [ ]:
#query.connection

In [ ]:
# connection = engine.connect()
# connection.execute(text(sql))
# connection.close()