# `WeeklyTrial` Class

I've made a lot of good progress in the notebook called `backtest_sketches.ipynb`.  However, as will tend to happen with sketches, things started to get a little bit messy, so I wanted to regroup and reorient myself.  

This trading strategy is predicated on repeating the same basic *experiment* each week.  One particular iteration of this will be called a `WeeklyTrial` and I will attempt to build a class around this concept.  Essentially, a particular instance of the `WeeklyTrial` class is going to contain all the information to measure the PNL of a weekly iteration of this trading strategy.

In the previous notebook `backtest_sketches.ipynb`, I got a little mixed up between inputs that would be relevant to a particular instance of `WeeklyTrial` versus inputs that would be relevant to the backtest strategy as a whole (I should probably come up with a class for that as well).

In [ ]:
import pandas as pd
import numpy as np

## Inputs for Constructing a `WeeklyTrial` Instance

In the language of OOP, these will be the inputs to the constructor function of a `WeeklyTrial`.

In [ ]:
expiration = '2010-06-19'
last_trade_date = '2010-06-18'
execution = '2010-06-11'
universe = ['DIA','IWM','QQQ','SPY']
leg_max = 5 # the maximum number of longs and shorts (for the initial iteration, since I am focused on a small universe this won't matter)
delta_long = 0.3 # delta of long strangles
delta_short = 0.3 # delta of short strangles
premium_budget = 2000 # amount of absolute premium traded (if you trade n underlyings, for each underlying you will buy/sell premium_budget/n premium)

## Get `chain_history` for Each Underlying in Universe

Now we proceed to getting the `chain_history` for each of the underlyings in our universe.

This helper function creates part of the string for our query.

In [ ]:
def create_symbols_string(underlyings):
    symbols = '('
    for ix_underlying in underlyings:
        symbols += f"'{ix_underlying}',"
    symbols = symbols[:-1] + ')'
    return symbols

Let's just see that the function works.

In [ ]:
create_symbols_string(universe)

"('DIA','IWM','QQQ','SPY')"

Now, lets' create the full query.

In [ ]:
sql = f'''
    select *
    from chain_history
    where underlying in {create_symbols_string(universe)}
    and expiration = '{expiration}'
    and trade_date = '{execution}';
'''
print(sql)

    select *
    from chain_history
    where underlying in ('DIA','IWM','QQQ','SPY')
    and expiration = '2010-06-19'
    and trade_date = '2010-06-11';

Next let's run the query using the **sqlalchemy** packge.  First we create an `engine` object.

In [ ]:
import sqlalchemy
import pandas as pd
from sqlalchemy.sql import text

url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'
engine = sqlalchemy.create_engine(url)

Now we can use the engine to actually runt the query and return its result as a `DataFrame`.

In [ ]:
with engine.connect() as conn:
    query = conn.execute(text(sql))         
df_chain_history = pd.DataFrame(query.fetchall())

Let's look at the result.

In [ ]:
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid
0,DIA,2010-06-19,2010-06-11,102.061,5,0.2261,0.2340,0.2301
1,IWM,2010-06-19,2010-06-11,64.845,5,0.3502,0.3609,0.3556
2,QQQ,2010-06-19,2010-06-11,45.370,5,0.2436,0.2537,0.2487
3,SPY,2010-06-19,2010-06-11,109.151,5,0.2716,0.2755,0.2735

Because we queried from a database, the `expiration` and `trade_date` come in as `datetime` objects.  Let's turn these into strings so they can be compared to the dates in the `DataFrames` we read in from CSVs.

In [ ]:
df_chain_history['expiration'] = df_chain_history['expiration'].apply(str)
df_chain_history['trade_date'] = df_chain_history['trade_date'].apply(str)

Capturing `d2x` from `chain_history`.  Once I've got a Python implementation complete, I should probably calculate this on the fly.  I don't think I use this down the road.

In [ ]:
d2x = df_chain_history['d2x'].iloc[0]
d2x

5

## Get Volatility Forecast & Calculate `vol_premium` Forecast

Next we grab the volatility forecasts that were precalculated in a notebook entitled `close_to_close_volatility_forecast_function`.   We'll start with the close-to-close estimator and add others later.  Eventually, these should probably end up in a the database.

In [ ]:
df_vol_forecast = pd.read_csv('../data/close_to_close_forecasts.csv')
df_vol_forecast

      ticker  week_num  week_start    week_end  close_to_close
0        DIA         0  2010-06-01  2010-06-04        0.363399
1        DIA         1  2010-06-07  2010-06-11        0.235762
2        DIA         2  2010-06-14  2010-06-18        0.139662
3        DIA         3  2010-06-21  2010-06-25        0.130178
4        DIA         4  2010-06-28  2010-07-02        0.160041
...      ...       ...         ...         ...             ...
17455    XRT       442  2018-11-19  2018-11-23        0.362015
17456    XRT       443  2018-11-26  2018-11-30        0.172415
17457    XRT       444  2018-12-03  2018-12-07        0.401701
17458    XRT       445  2018-12-10  2018-12-14        0.225990
17459    XRT       446  2018-12-17  2018-12-21        0.221403

[17460 rows x 5 columns]

In [ ]:
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid
0,DIA,2010-06-19,2010-06-11,102.061,5,0.2261,0.2340,0.2301
1,IWM,2010-06-19,2010-06-11,64.845,5,0.3502,0.3609,0.3556
2,QQQ,2010-06-19,2010-06-11,45.370,5,0.2436,0.2537,0.2487
3,SPY,2010-06-19,2010-06-11,109.151,5,0.2716,0.2755,0.2735

Next, we `merge` in our volatility forecasts into `df_chain_history`.  This allows us to calcuclate a `vol_prem_forecast`.

In [ ]:
df_chain_history = \
    (
    df_chain_history 
        .merge(df_vol_forecast, how='left',
               left_on=['underlying', 'trade_date'],
               right_on=['ticker', 'week_end'],)
        .assign(vol_prem_forecast = lambda df: df['swap_rate_mid'] - df['close_to_close'])
    )
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid,ticker,week_num,week_start,week_end,close_to_close,vol_prem_forecast
0,DIA,2010-06-19,2010-06-11,102.061,5,0.2261,0.2340,0.2301,DIA,1,2010-06-07,2010-06-11,0.235762,-0.005662
1,IWM,2010-06-19,2010-06-11,64.845,5,0.3502,0.3609,0.3556,IWM,1,2010-06-07,2010-06-11,0.348491,0.007109
2,QQQ,2010-06-19,2010-06-11,45.370,5,0.2436,0.2537,0.2487,QQQ,1,2010-06-07,2010-06-11,0.283493,-0.034793
3,SPY,2010-06-19,2010-06-11,109.151,5,0.2716,0.2755,0.2735,SPY,1,2010-06-07,2010-06-11,0.252653,0.020847

## Choosing Underlyings to Go Long and Short

Now that we have `vol_prem_forecasts`, we can choose which underlyings to go long, and which underlyings to go short.  In order to do this I will use the `leg_max` parameter.  The essential rule is that if there are more that `2 * leg_max` underlyings in the universe then we will go long `leg_max` underlyings and short `leg_max` underlyings.  If there are less that `2 * leg_max` underlyings, we will go short the floored half of the number of underlyings, and long the floored half of the underlyings.

In [ ]:
leg_size = leg_max
if len(df_chain_history) < 2 * leg_max:
    leg_size = len(df_chain_history) // 2
leg_size

2

Let's sort `df_chain_history` by the size of the `vol_prem_forecast`.

In [ ]:
df_chain_history.sort_values(by=['vol_prem_forecast'], inplace=True)
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid,ticker,week_num,week_start,week_end,close_to_close,vol_prem_forecast
2,QQQ,2010-06-19,2010-06-11,45.370,5,0.2436,0.2537,0.2487,QQQ,1,2010-06-07,2010-06-11,0.283493,-0.034793
0,DIA,2010-06-19,2010-06-11,102.061,5,0.2261,0.2340,0.2301,DIA,1,2010-06-07,2010-06-11,0.235762,-0.005662
1,IWM,2010-06-19,2010-06-11,64.845,5,0.3502,0.3609,0.3556,IWM,1,2010-06-07,2010-06-11,0.348491,0.007109
3,SPY,2010-06-19,2010-06-11,109.151,5,0.2716,0.2755,0.2735,SPY,1,2010-06-07,2010-06-11,0.252653,0.020847

We will go long the underlyings with the smallest `vol_premium_forecast`.

In [ ]:
longs = list(df_chain_history.head(leg_size)['underlying'])
longs

['QQQ', 'DIA']

We will go short the underlyings with the largest `vol_prem_forecast`.

In [ ]:
shorts = list(df_chain_history.tail(leg_size)['underlying'])
shorts

['IWM', 'SPY']

Let's put this information into a `DataFrame` that will eventually hold `quantity` information; `quantity` is the combined measure of size and direction.

In [ ]:
unds = longs + shorts
dirs = leg_size * [1] + leg_size * [-1]
df_direction = pd.DataFrame({
    'underlying':unds,
    'direction':dirs,
})
df_direction

  underlying  direction
0        QQQ          1
1        DIA          1
2        IWM         -1
3        SPY         -1

## Get All OTM Options for Each Underlying

Now, for each underlying that we are going to trade, we will read-in the full chain of OTM options from `otm_history`. The following function grabs the full otm option chain for a given `underlying`, `expiration`, and `trade_date`.

In [ ]:
def get_otm_options(underlying, expiration, trade_date):
    
    sql = f'''
    select *
    from otm_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and trade_date = '{trade_date}'
    order by strike;
    '''
    
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_otm = pd.DataFrame(query.fetchall())

    return df_otm

Now we will loop through `df_direction['underlying']` and capture all the chains in a `dict` called `otm_options`.

In [ ]:
otm_options = {}
for ix_underlying in df_direction['underlying']:
    df_otm = get_otm_options(ix_underlying, expiration, execution)
    otm_options[ix_underlying] = df_otm

Let's print this out for one underlying.

In [ ]:
for ix_underlying in otm_options:
    display(otm_options[ix_underlying])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,QQQ,2010-06-19,put,43.0,2010-06-11,45.5,0.1,0.1,0.10,0.3083,0.1044
1,QQQ,2010-06-19,put,44.0,2010-06-11,45.5,0.2,0.2,0.20,0.2689,0.2037
2,QQQ,2010-06-19,put,45.0,2010-06-11,45.5,0.5,0.6,0.55,0.2835,0.4110
3,QQQ,2010-06-19,call,46.0,2010-06-11,45.5,0.4,0.4,0.40,0.2603,0.3603
4,QQQ,2010-06-19,call,47.0,2010-06-11,45.5,0.1,0.1,0.10,0.2266,0.1379

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,DIA,2010-06-19,put,93.0,2010-06-11,102.31,0.05,0.07,0.060,0.3552,0.0298
1,DIA,2010-06-19,put,94.0,2010-06-11,102.31,0.06,0.09,0.075,0.3342,0.0383
2,DIA,2010-06-19,put,95.0,2010-06-11,102.31,0.08,0.11,0.095,0.3131,0.0497
3,DIA,2010-06-19,put,96.0,2010-06-11,102.31,0.11,0.14,0.125,0.2934,0.0665
4,DIA,2010-06-19,put,97.0,2010-06-11,102.31,0.17,0.18,0.175,0.2768,0.0928
5,DIA,2010-06-19,put,98.0,2010-06-11,102.31,0.25,0.28,0.265,0.2658,0.1350
6,DIA,2010-06-19,put,99.0,2010-06-11,102.31,0.37,0.40,0.385,0.2515,0.1902
7,DIA,2010-06-19,put,100.0,2010-06-11,102.31,0.56,0.58,0.570,0.2394,0.2670
8,DIA,2010-06-19,put,101.0,2010-06-11,102.31,0.84,0.86,0.850,0.2301,0.3674
9,DIA,2010-06-19,put,102.0,2010-06-11,102.31,1.22,1.25,1.235,0.2207,0.4861
10,DIA,2010-06-19,call,103.0,2010-06-11,102.31,0.77,0.80,0.785,0.2076,0.3826
11,DIA,2010-06-19,call,104.0,2010-06-11,102.31,0.42,0.45,0.435,0.1994,0.2559
12,DIA,2010-06-19,call,105.0,2010-06-11,102.31,0.20,0.23,0.215,0.1929,0.1512
13,DIA,2010-06-19,call,106.0,2010-06-11,102.31,0.09,0.11,0.100,0.1906,0.0812
14,DIA,2010-06-19,call,107.0,2010-06-11,102.31,0.04,0.06,0.050,0.1951,0.0440

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,IWM,2010-06-19,put,54.0,2010-06-11,64.94,0.01,0.02,0.015,0.5550,0.0087
1,IWM,2010-06-19,put,55.0,2010-06-11,64.94,0.02,0.03,0.025,0.5415,0.0140
2,IWM,2010-06-19,put,56.0,2010-06-11,64.94,0.03,0.04,0.035,0.5150,0.0198
3,IWM,2010-06-19,put,57.0,2010-06-11,64.94,0.05,0.06,0.055,0.4976,0.0304
4,IWM,2010-06-19,put,58.0,2010-06-11,64.94,0.08,0.09,0.085,0.4794,0.0459
5,IWM,2010-06-19,put,59.0,2010-06-11,64.94,0.12,0.13,0.125,0.4565,0.0667
6,IWM,2010-06-19,put,60.0,2010-06-11,64.94,0.18,0.19,0.185,0.4341,0.0967
7,IWM,2010-06-19,put,61.0,2010-06-11,64.94,0.27,0.28,0.275,0.4123,0.1397
8,IWM,2010-06-19,put,62.0,2010-06-11,64.94,0.40,0.42,0.410,0.3914,0.2001
9,IWM,2010-06-19,put,63.0,2010-06-11,64.94,0.59,0.62,0.605,0.3700,0.2810
10,IWM,2010-06-19,put,64.0,2010-06-11,64.94,0.87,0.91,0.890,0.3503,0.3857
11,IWM,2010-06-19,call,65.0,2010-06-11,64.94,1.11,1.15,1.130,0.3306,0.4888
12,IWM,2010-06-19,call,66.0,2010-06-11,64.94,0.65,0.68,0.665,0.3132,0.3527
13,IWM,2010-06-19,call,67.0,2010-06-11,64.94,0.34,0.36,0.350,0.2998,0.2257
14,IWM,2010-06-19,call,68.0,2010-06-11,64.94,0.15,0.17,0.160,0.2878,0.1247
15,IWM,2010-06-19,call,69.0,2010-06-11,64.94,0.06,0.07,0.065,0.2799,0.0599
16,IWM,2010-06-19,call,70.0,2010-06-11,64.94,0.02,0.03,0.025,0.2774,0.0263
17,IWM,2010-06-19,call,71.0,2010-06-11,64.94,0.01,0.02,0.015,0.2964,0.0157

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,SPY,2010-06-19,put,98.0,2010-06-11,109.68,0.06,0.07,0.065,0.4028,0.0269
1,SPY,2010-06-19,put,99.0,2010-06-11,109.68,0.09,0.10,0.095,0.3969,0.0380
2,SPY,2010-06-19,put,100.0,2010-06-11,109.68,0.10,0.11,0.105,0.3704,0.0442
3,SPY,2010-06-19,put,101.0,2010-06-11,109.68,0.13,0.15,0.140,0.3570,0.0584
4,SPY,2010-06-19,put,102.0,2010-06-11,109.68,0.18,0.19,0.185,0.3426,0.0766
5,SPY,2010-06-19,put,103.0,2010-06-11,109.68,0.24,0.26,0.250,0.3298,0.1017
6,SPY,2010-06-19,put,104.0,2010-06-11,109.68,0.33,0.34,0.335,0.3162,0.1340
7,SPY,2010-06-19,put,105.0,2010-06-11,109.68,0.45,0.46,0.455,0.3038,0.1769
8,SPY,2010-06-19,put,106.0,2010-06-11,109.68,0.62,0.63,0.625,0.2933,0.2328
9,SPY,2010-06-19,put,107.0,2010-06-11,109.68,0.85,0.86,0.855,0.2834,0.3020
10,SPY,2010-06-19,put,108.0,2010-06-11,109.68,1.14,1.16,1.150,0.2725,0.3839
11,SPY,2010-06-19,put,109.0,2010-06-11,109.68,1.55,1.56,1.555,0.2658,0.4778
12,SPY,2010-06-19,call,110.0,2010-06-11,109.68,1.16,1.17,1.165,0.2522,0.4206
13,SPY,2010-06-19,call,111.0,2010-06-11,109.68,0.73,0.74,0.735,0.2392,0.3150
14,SPY,2010-06-19,call,112.0,2010-06-11,109.68,0.43,0.46,0.445,0.2324,0.2204
15,SPY,2010-06-19,call,113.0,2010-06-11,109.68,0.24,0.25,0.245,0.2251,0.1407
16,SPY,2010-06-19,call,114.0,2010-06-11,109.68,0.14,0.15,0.145,0.2278,0.0904
17,SPY,2010-06-19,call,115.0,2010-06-11,109.68,0.07,0.08,0.075,0.2257,0.0520
18,SPY,2010-06-19,call,116.0,2010-06-11,109.68,0.04,0.05,0.045,0.2322,0.0326
19,SPY,2010-06-19,call,117.0,2010-06-11,109.68,0.02,0.03,0.025,0.2359,0.0191

## Get Trades

In the previous step we grabbed the full chain of OTM options for each underlying that we will be trading.  The following function constructs a strangle from a `DataFrame` of OTM options (of the format of the `otm_history` table) and a `target_delta` for each of the legs of the strangle.

In [ ]:
def get_strangle(target_delta, df_otm_options):
    strangle = []

    # calculating the abs diff between the delta and the target delta for all options
    df_otm_options['target_delta'] = target_delta
    df_otm_options['abs_delta_diff'] = abs(df_otm_options['delta'] - df_otm_options['target_delta'])

    # calculating the put trade
    df_put_trade = df_otm_options.query('cp=="put"').sort_values('abs_delta_diff').head(1)
    strangle.append(df_put_trade)

    # calculating the call trade
    df_call_trade = df_otm_options.query('cp=="call"').sort_values('abs_delta_diff').head(1)
    strangle.append(df_call_trade)

    df_strangle = pd.concat(strangle).reset_index(drop=True)

    return(df_strangle)

Let's test out the function to make sure that it is working.

In [ ]:
get_strangle(0.3, otm_options['QQQ'])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff
0,QQQ,2010-06-19,put,44.0,2010-06-11,45.5,0.2,0.2,0.2,0.2689,0.2037,0.3,0.0963
1,QQQ,2010-06-19,call,46.0,2010-06-11,45.5,0.4,0.4,0.4,0.2603,0.3603,0.3,0.0603

The following function iterates through all the underlyings that will be traded and constructs a strangle for each one.  Notice that the `target_delta` of the strangle is dependent on the direction of the strangle.  I'm guessing I will usually keep these pretty much the same, but it will be nice to have this lever to play around with.

In [ ]:
def get_all_strangle_trades(df_direction, delta_long, delta_short, otm_options):
    trades = {}
    for ix_underlying in df_direction['underlying']:
        # grabbing direction from df_direction
        dir = df_direction.query('underlying==@ix_underlying')['direction'].iloc[0]

        # determine the direction of the trade
        if dir == 1:
            target_delta = delta_long
        else:
            target_delta = delta_short

        # calculate an individual strangle
        df_strangle = get_strangle(target_delta, otm_options[ix_underlying])
        df_strangle['direction'] = dir
        
        # adding strangle to dict
        trades[ix_underlying] = df_strangle
        
    return(trades)

Let's test the function and display it to the screen.

In [ ]:
strangle_trades = get_all_strangle_trades(df_direction, delta_long, delta_short, otm_options)

for ix_underlying in strangle_trades:
    display(strangle_trades[ix_underlying])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,QQQ,2010-06-19,put,44.0,2010-06-11,45.5,0.2,0.2,0.2,0.2689,0.2037,0.3,0.0963,1
1,QQQ,2010-06-19,call,46.0,2010-06-11,45.5,0.4,0.4,0.4,0.2603,0.3603,0.3,0.0603,1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,DIA,2010-06-19,put,100.0,2010-06-11,102.31,0.56,0.58,0.570,0.2394,0.2670,0.3,0.0330,1
1,DIA,2010-06-19,call,104.0,2010-06-11,102.31,0.42,0.45,0.435,0.1994,0.2559,0.3,0.0441,1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,IWM,2010-06-19,put,63.0,2010-06-11,64.94,0.59,0.62,0.605,0.3700,0.2810,0.3,0.0190,-1
1,IWM,2010-06-19,call,66.0,2010-06-11,64.94,0.65,0.68,0.665,0.3132,0.3527,0.3,0.0527,-1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,SPY,2010-06-19,put,107.0,2010-06-11,109.68,0.85,0.86,0.855,0.2834,0.302,0.3,0.002,-1
1,SPY,2010-06-19,call,111.0,2010-06-11,109.68,0.73,0.74,0.735,0.2392,0.315,0.3,0.015,-1

## Get Trade Sizes

Now we will get the trade sizes for each strangle.  This will be based on the `premium_budget`, and the mid price the strangles.

In [ ]:
num_opt = len(df_direction)
for ix_underlying in strangle_trades:
    df_strangle = strangle_trades[ix_underlying]
    
    # the strangle price is the sume of the mid prices
    strangle_price = df_strangle['mid'].sum()

    # will buy or sell premium_budget/num_opt per underlying; and at least trade 1
    size = np.round((premium_budget / num_opt) / (strangle_price * 100), 0)
    if size == 0:
        size = 1

    # save the size in the strangle trades
    df_strangle['size'] = size

    # quantity will take into account direction and size
    df_strangle['quantity'] = df_strangle['direction'] * df_strangle['size']

    display(df_strangle)

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,QQQ,2010-06-19,put,44.0,2010-06-11,45.5,0.2,0.2,0.2,0.2689,0.2037,0.3,0.0963,1,8.0,8.0
1,QQQ,2010-06-19,call,46.0,2010-06-11,45.5,0.4,0.4,0.4,0.2603,0.3603,0.3,0.0603,1,8.0,8.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,DIA,2010-06-19,put,100.0,2010-06-11,102.31,0.56,0.58,0.570,0.2394,0.2670,0.3,0.0330,1,5.0,5.0
1,DIA,2010-06-19,call,104.0,2010-06-11,102.31,0.42,0.45,0.435,0.1994,0.2559,0.3,0.0441,1,5.0,5.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,IWM,2010-06-19,put,63.0,2010-06-11,64.94,0.59,0.62,0.605,0.3700,0.2810,0.3,0.0190,-1,4.0,-4.0
1,IWM,2010-06-19,call,66.0,2010-06-11,64.94,0.65,0.68,0.665,0.3132,0.3527,0.3,0.0527,-1,4.0,-4.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,SPY,2010-06-19,put,107.0,2010-06-11,109.68,0.85,0.86,0.855,0.2834,0.302,0.3,0.002,-1,3.0,-3.0
1,SPY,2010-06-19,call,111.0,2010-06-11,109.68,0.73,0.74,0.735,0.2392,0.315,0.3,0.015,-1,3.0,-3.0

## Get Trade PNL History for An Individual Trade

Here I am creating a simple function that interacts with the database to get the `option_pnl_history` for a single option.

In [ ]:
def get_option_pnl_history(underlying, expiration, cp, strike, start_date, end_date):
    sql = f'''
    select * 
    from option_pnl_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and cp = '{cp}'
    and strike = '{strike}'
    and trade_date >= '{start_date}'
    and trade_date <= '{end_date}';
    '''
    
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_option_history = pd.DataFrame(query.fetchall())
    
    cols_to_drop = ['implied_forward', 'implied_vol', 'sh_opt_ask', 'sh_opt_mid', 'sh_hedge', 'sh_total_mid', 'lg_opt_bid', 'lg_opt_mid', 'lg_hedge', 'lg_total_mid']
    df_option_history.drop(columns=cols_to_drop, inplace=True)
    
    return(df_option_history)

Just testing that the above function is working.

In [ ]:
# underlying='SPY'
# cp = 'put'
# strike = 110

# get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

This is a thin wrapper around the above function (`get_option_pnl_history`) that calculates the actual PNL of a trade, taking into account quantity, etc.  It's debatable whether I even need to break this into two functions, but I like the idea of doing so because it makes things more modular.

In [ ]:
def get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity):

    # grabbing pnl history from database
    df_pnl = get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

    # making sure the pnls are in the right order and adding quantity
    df_pnl.sort_values(['d2x'], ascending=False, inplace=True)
    df_pnl['quantity'] = quantity
    df_pnl

    # using the correct pnl column based on direction of trade
    if quantity > 0:
        df_pnl['unit_pnl'] = df_pnl['lg_total_bid']
    else:
        df_pnl['unit_pnl'] = df_pnl['sh_total_ask']
    
    # filling in the execution date PNL with the negative of the spread
    spread = df_pnl['spread'].iloc[0]
    df_pnl.iloc[0, df_pnl.columns.get_loc('unit_pnl')] = -spread

    # calculating the dollar PNL, using size which is just the absolute value of quantity
    df_pnl['dollar_pnl'] = df_pnl['unit_pnl'] * np.abs(df_pnl['quantity']) * 100
    
    return(df_pnl)

Let's try out the pnl calculation function.

In [ ]:
# underlying = 'IWM'
# cp = 'put'
# strike = 61.
# quantity = -1

# get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity)

## Get PNL History for All Trades

Now lets get the PNL histories for all the strangles in this `WeeklyTrial`.

In [ ]:
def get_strangle_histories(strangle_trades):
    strangle_histories = {}

    # iterate through all the strangles
    for ix_underlying in strangle_trades:
        sh = []
        # for each trade in a strangle, get its trade_pnl_history
        for index, row in strangle_trades[ix_underlying].iterrows():
            und = row['underlying']
            exp = row['expiration']
            cp = row['cp']
            k = row['strike']
            qty = row['quantity']
            th = get_trade_pnl_history(und, exp, cp, k, execution, last_trade_date, qty)
            sh.append(th)
        # creating a single DataFrame for each strangle
        strangle_history = pd.concat(sh)

        # putting the strangle DataFrame into a Dict, one entry per underlyings
        strangle_histories[ix_underlying] = strangle_history
    return(strangle_histories)

In [ ]:
strangle_histories = get_strangle_histories(strangle_trades)
for ix_underlying in strangle_histories:
    print(ix_underlying)
    display(strangle_histories[ix_underlying])

QQQ

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl,dollar_pnl
0,QQQ,2010-06-19,put,44.0,2010-06-11,5,45.50,0.2,0.2,0.20,0.2037,0.1576,-0.1576,0.0,8.0,-0.0000,-0.00
1,QQQ,2010-06-19,put,44.0,2010-06-14,4,45.49,0.2,0.2,0.20,0.1995,0.0020,-0.0020,0.0,8.0,-0.0020,-1.60
2,QQQ,2010-06-19,put,44.0,2010-06-15,3,46.71,0.0,0.0,0.00,0.0000,-0.0434,0.0434,0.0,8.0,0.0434,34.72
3,QQQ,2010-06-19,put,44.0,2010-06-16,2,46.90,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,8.0,0.0000,0.00
4,QQQ,2010-06-19,put,44.0,2010-06-17,1,47.05,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,8.0,0.0000,0.00
5,QQQ,2010-06-19,put,44.0,2010-06-18,0,47.00,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,8.0,0.0000,0.00
0,QQQ,2010-06-19,call,46.0,2010-06-11,5,45.50,0.4,0.4,0.40,0.3603,0.0198,-0.0198,0.0,8.0,-0.0000,-0.00
1,QQQ,2010-06-19,call,46.0,2010-06-14,4,45.49,0.3,0.3,0.30,0.3416,0.0964,-0.0964,0.0,8.0,-0.0964,-77.12
2,QQQ,2010-06-19,call,46.0,2010-06-15,3,46.71,0.8,0.9,0.85,0.7004,-0.1832,0.0832,0.1,8.0,0.0832,66.56
3,QQQ,2010-06-19,call,46.0,2010-06-16,2,46.90,1.0,1.0,1.00,0.8191,0.0331,0.0669,0.0,8.0,0.0669,53.52
4,QQQ,2010-06-19,call,46.0,2010-06-17,1,47.05,1.0,1.0,1.00,0.8192,0.1229,-0.1229,0.0,8.0,-0.1229,-98.32
5,QQQ,2010-06-19,call,46.0,2010-06-18,0,47.00,1.0,1.0,1.00,1.0000,-0.0410,0.0410,0.0,8.0,0.0410,32.80

DIA

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl,dollar_pnl
0,DIA,2010-06-19,put,100.0,2010-06-11,5,102.31,0.56,0.58,0.570,0.2670,0.2171,-0.1971,0.02,5.0,-0.0200,-10.00
1,DIA,2010-06-19,put,100.0,2010-06-14,4,102.14,0.45,0.48,0.465,0.2490,0.1454,-0.1554,0.03,5.0,-0.1554,-77.70
2,DIA,2010-06-19,put,100.0,2010-06-15,3,104.17,0.10,0.13,0.115,0.0838,-0.1555,0.1555,0.03,5.0,0.1555,77.75
3,DIA,2010-06-19,put,100.0,2010-06-16,2,104.29,0.04,0.07,0.055,0.0498,0.0499,-0.0499,0.03,5.0,-0.0499,-24.95
4,DIA,2010-06-19,put,100.0,2010-06-17,1,104.56,0.00,0.02,0.010,0.0139,0.0366,-0.0266,0.02,5.0,-0.0266,-13.30
5,DIA,2010-06-19,put,100.0,2010-06-18,0,104.49,0.00,0.00,0.000,0.0000,0.0210,-0.0010,0.00,5.0,-0.0010,-0.50
0,DIA,2010-06-19,call,104.0,2010-06-11,5,102.31,0.42,0.45,0.435,0.2559,0.2225,-0.2225,0.03,5.0,-0.0300,-15.00
1,DIA,2010-06-19,call,104.0,2010-06-14,4,102.14,0.29,0.32,0.305,0.2180,0.0865,-0.0865,0.03,5.0,-0.0865,-43.25
2,DIA,2010-06-19,call,104.0,2010-06-15,3,104.17,0.81,0.87,0.840,0.4998,-0.1075,0.0775,0.06,5.0,0.0775,38.75
3,DIA,2010-06-19,call,104.0,2010-06-16,2,104.29,0.78,0.81,0.795,0.5488,0.1200,-0.0900,0.03,5.0,-0.0900,-45.00
4,DIA,2010-06-19,call,104.0,2010-06-17,1,104.56,0.68,0.73,0.705,0.6224,0.2282,-0.2482,0.05,5.0,-0.2482,-124.10
5,DIA,2010-06-19,call,104.0,2010-06-18,0,104.49,0.49,0.49,0.490,1.0000,0.1964,-0.1464,0.00,5.0,-0.1464,-73.20

IWM

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl,dollar_pnl
0,IWM,2010-06-19,put,63.0,2010-06-11,5,64.94,0.59,0.62,0.605,0.2810,0.1739,-0.1639,0.03,-4.0,-0.0300,-12.00
1,IWM,2010-06-19,put,63.0,2010-06-14,4,65.35,0.36,0.37,0.365,0.2093,0.1348,-0.1148,0.01,-4.0,0.1348,53.92
2,IWM,2010-06-19,put,63.0,2010-06-15,3,66.99,0.09,0.11,0.100,0.0785,-0.0833,0.0733,0.02,-4.0,-0.0833,-33.32
3,IWM,2010-06-19,put,63.0,2010-06-16,2,66.68,0.05,0.06,0.055,0.0523,0.0743,-0.0643,0.01,-4.0,0.0743,29.72
4,IWM,2010-06-19,put,63.0,2010-06-17,1,66.76,0.00,0.02,0.010,0.0153,0.0358,-0.0458,0.02,-4.0,0.0358,14.32
5,IWM,2010-06-19,put,63.0,2010-06-18,0,66.80,0.00,0.00,0.000,0.0000,0.0194,0.0006,0.00,-4.0,0.0194,7.76
0,IWM,2010-06-19,call,66.0,2010-06-11,5,64.94,0.65,0.68,0.665,0.3527,0.1420,-0.1520,0.03,-4.0,-0.0300,-12.00
1,IWM,2010-06-19,call,66.0,2010-06-14,4,65.35,0.68,0.71,0.695,0.4009,0.1146,-0.1146,0.03,-4.0,0.1146,45.84
2,IWM,2010-06-19,call,66.0,2010-06-15,3,66.99,1.26,1.29,1.275,0.6464,0.0775,-0.0775,0.03,-4.0,0.0775,31.00
3,IWM,2010-06-19,call,66.0,2010-06-16,2,66.68,1.19,1.23,1.210,0.6865,-0.1404,0.1304,0.04,-4.0,-0.1404,-56.16
4,IWM,2010-06-19,call,66.0,2010-06-17,1,66.76,0.97,1.01,0.990,0.7477,0.2749,-0.2749,0.04,-4.0,0.2749,109.96
5,IWM,2010-06-19,call,66.0,2010-06-18,0,66.80,0.80,0.80,0.800,1.0000,0.2399,-0.1999,0.00,-4.0,0.2399,95.96

SPY

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl,dollar_pnl
0,SPY,2010-06-19,put,107.0,2010-06-11,5,109.680,0.850,0.860,0.855,0.3020,0.2015,-0.2015,0.01,-3.0,-0.0100,-3.00
1,SPY,2010-06-19,put,107.0,2010-06-14,4,109.509,0.650,0.670,0.660,0.2749,0.2416,-0.2516,0.02,-3.0,0.2416,72.48
2,SPY,2010-06-19,put,107.0,2010-06-15,3,112.000,0.140,0.160,0.150,0.0911,-0.1748,0.1748,0.02,-3.0,-0.1748,-52.44
3,SPY,2010-06-19,put,107.0,2010-06-16,2,111.960,0.070,0.080,0.075,0.0574,0.0836,-0.0736,0.01,-3.0,0.0836,25.08
4,SPY,2010-06-19,put,107.0,2010-06-17,1,112.140,0.020,0.040,0.030,0.0297,0.0297,-0.0397,0.02,-3.0,0.0297,8.91
5,SPY,2010-06-19,put,107.0,2010-06-18,0,111.729,0.000,0.000,0.000,0.0000,0.0522,-0.0322,0.00,-3.0,0.0522,15.66
0,SPY,2010-06-19,call,111.0,2010-06-11,5,109.680,0.730,0.740,0.735,0.3150,0.2947,-0.2747,0.01,-3.0,-0.0100,-3.00
1,SPY,2010-06-19,call,111.0,2010-06-14,4,109.509,0.570,0.590,0.580,0.2931,0.0961,-0.1061,0.02,-3.0,0.0961,28.83
2,SPY,2010-06-19,call,111.0,2010-06-15,3,112.000,1.420,1.440,1.430,0.5766,-0.1199,0.1199,0.02,-3.0,-0.1199,-35.97
3,SPY,2010-06-19,call,111.0,2010-06-16,2,111.960,1.300,1.330,1.315,0.6073,0.0869,-0.0969,0.03,-3.0,0.0869,26.07
4,SPY,2010-06-19,call,111.0,2010-06-17,1,112.140,1.150,1.200,1.175,0.6610,0.2393,-0.2593,0.05,-3.0,0.2393,71.79
5,SPY,2010-06-19,call,111.0,2010-06-18,0,111.729,0.729,0.729,0.729,1.0000,0.1993,-0.1493,0.00,-3.0,0.1993,59.79

## Rolling Up All Results in a Useful Fashion

In [ ]:
underlying_pnls = []
for ix_underlying in strangle_histories:
    df = strangle_histories[ix_underlying]
    underlying_pnls.append(df)
df_underlying_pnls = pd.concat(underlying_pnls)

(
df_underlying_pnls
    .groupby(['trade_date'])['dollar_pnl'].sum()
)

trade_date
2010-06-11    -55.00
2010-06-14      1.40
2010-06-15    127.05
2010-06-16      8.28
2010-06-17    -30.74
2010-06-18    138.27
Name: dollar_pnl, dtype: float64

In [ ]:
(
df_underlying_pnls
    .groupby(['trade_date'])['dollar_pnl'].sum()
).sum()

189.26000000000002