# Cleaning Up Problematic XBI Strikes

The purpose of this notebook was to take care of weird strikes that are in `option_price` and hence made their way into `otm_history`.  It seems to be that QQQ has strikes at an 1/8 of a dollar, or 0.125. However, some of these seem to round to e.g. 75.83 (instead of 75.825).  This was causing issues because of a lack of an exact match (for some reason, probably because I am using `real` data type in my postgres database) when creating the `option_pnl_history`.  So I decided to just remove all these problematic strikes.

In [ ]:
import pandas as pd

## Grabbing All Strikes from `otm_history` Table

From pgAdmin I created the following query and stored the file in a csv entitled: `qqq_all_strikes_in_otm_history.csv`

select distinct strike
from otm_history
where underlying = 'XBI'
order by strike;

Reading in the CSV that contains the results of the above query.

In [ ]:
df_strikes = pd.read_csv('../data/xbi_all_strikes_in_otm_history.csv')
df_strikes

     strike
0     25.00
1     29.00
2     30.00
3     31.00
4     31.67
..      ...
369  385.00
370  390.00
371  395.00
372  400.00
373  405.00

[374 rows x 1 columns]

## Defining Strikes to Delete

Basically I want to get rid of all strikes that aren't a multiple of 0.5.

In [ ]:
df_strikes_to_delete = df_strikes.query('strike % 0.5 != 0')
df_strikes_to_delete

     strike
4     31.67
7     33.33
11    36.67
14    38.33
21    41.67
..      ...
213  108.33
217  111.67
220  113.33
224  116.67
227  118.33

[68 rows x 1 columns]

## Deleting All the Strikes in `df_strikes_to_delete`

In [ ]:
import psycopg2
import glob
import pandas as pd
import time

In [ ]:
#%%
# creating connection and cursor objects
conn = psycopg2.connect(
    host = "localhost",
    database = "delta_neutral",
    user = "postgres",
    password = "$3lfl0v3",
    port = 5432,
)
cur = conn.cursor()

Testing out a single delete query.

In [ ]:
# sql = f"delete from otm_history where underlying='QQQ' and strike=22.625;"

In [ ]:
# cur.execute(sql)
# conn.commit()

Looping through all the strikes.  Notice how I have to use this funky `abs(strike-{ix_strike}) < 0.01` where clause.  This get to the heart of why there were issues - due to a lack of an exact match.

In [ ]:
for ix_strike in df_strikes_to_delete['strike']:
    sql = f"delete from otm_history where underlying='XBI' and abs(strike-{ix_strike}) < 0.01;"
    print(sql)
    cur.execute(sql)
    conn.commit()

delete from otm_history where underlying='XBI' and abs(strike-31.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-33.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-36.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-38.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-41.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-43.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-46.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-48.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-51.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-53.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-54.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-54.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-55.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-55.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-56.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-56.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-57.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-57.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-58.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-58.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-59.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-59.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-59.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-60.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-60.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-60.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-61.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-61.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-62.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-63.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-63.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-64.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-64.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-64.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-65.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-65.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-65.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-66.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-66.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-68.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-69.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-70.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-71.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-73.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-74.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-75.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-76.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-78.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-79.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-80.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-81.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-83.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-84.17) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-85.83) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-86.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-88.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-91.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-93.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-96.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-98.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-101.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-103.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-106.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-108.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-111.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-113.33) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-116.67) < 0.01;
delete from otm_history where underlying='XBI' and abs(strike-118.33) < 0.01;

## OLD CODE

Tried to do it using sqlalchemy but couldn't get it to work.

In [ ]:
# import sqlalchemy
# from sqlalchemy.sql import text

# url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'

# engine = sqlalchemy.create_engine(url)

In [ ]:
# sql = f"delete from otm_history where underlying='QQQ' and strike=23.625;"
# with engine.connect() as conn:
#     query = conn.execute(text(sql))
#     print(query.rowcount)

In [ ]:
#query.connection

In [ ]:
# connection = engine.connect()
# connection.execute(text(sql))
# connection.close()