# `WeeklyTrial` Class - Modularize

This notebook enhances the `weekly_trial.ipynb` notebook by modularizing the code even further and basically turning everything into a function.

I've made a lot of good progress in the notebook called `backtest_sketches.ipynb`.  However, as will tend to happen with sketches, things started to get a little bit messy, so I wanted to regroup and reorient myself.  

This trading strategy is predicated on repeating the same basic *experiment* each week.  One particular iteration of this will be called a `WeeklyTrial` and I will attempt to build a class around this concept.  Essentially, a particular instance of the `WeeklyTrial` class is going to contain all the information to measure the PNL of a weekly iteration of this trading strategy.

In the previous notebook `backtest_sketches.ipynb`, I got a little mixed up between inputs that would be relevant to a particular instance of `WeeklyTrial` versus inputs that would be relevant to the backtest strategy as a whole (I should probably come up with a class for that as well).

In [ ]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.sql import text

## Inputs for Constructing a `WeeklyTrial` Instance

In the language of OOP, these will be the inputs to the constructor function of a `WeeklyTrial`.

In [ ]:
expiration = '2010-06-11'
last_trade_date = '2010-06-11'
execution = '2010-06-04'
universe = ['DIA','IWM','QQQ','SPY']
leg_max = 5 # the maximum number of longs and shorts (for the initial iteration, since I am focused on a small universe this won't matter)
delta_long = 0.3 # delta of long strangles
delta_short = 0.3 # delta of short strangles
premium_budget = 2000 # amount of absolute premium traded (if you trade n underlyings, for each underlying you will buy/sell premium_budget/n premium)

## Get `chain_history` for Each Underlying in Universe

This function gets the chain history for each underlying in the universe.

In [ ]:
def get_chain_history(universe, expiration, execution):

    # creating the symbols string for the query
    # should this by it's own small utility function?
    symbols = '('
    for ix_underlying in universe:
        symbols += f"'{ix_underlying}',"
    symbols = symbols[:-1] + ')'

    # constructing the query
    sql = f'''
    select *
    from chain_history
    where underlying in {symbols}
    and expiration = '{expiration}'
    and trade_date = '{execution}';
    '''

    # creating sql alchemy engine
    url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'
    engine = sqlalchemy.create_engine(url)

    # executing the query
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_chain_history = pd.DataFrame(query.fetchall())

    # Because we queried from a database, the expiration and trade_date come in as datetime objects.  
    # Let's turn these into strings so they can be compared to the dates in the DataFrames we read in from CSVs.
    df_chain_history['expiration'] = df_chain_history['expiration'].apply(str)
    df_chain_history['trade_date'] = df_chain_history['trade_date'].apply(str)

    return(df_chain_history)

The chain histories are stored in a variable called `df_chain_history`, when I translate this into a class, the attribute will be called `.chain_history`.

In [ ]:
df_chain_history = get_chain_history(universe, expiration, execution)
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid
0,DIA,2010-06-11,2010-06-04,99.687,5,0.2894,0.3312,0.3110
1,IWM,2010-06-11,2010-06-04,63.574,5,0.4466,0.4828,0.4650
2,QQQ,2010-06-11,2010-06-04,45.180,5,0.3297,0.3340,0.3318
3,SPY,2010-06-11,2010-06-04,107.089,5,0.3258,0.3508,0.3385

## Get Volatility Forecast & Calculate `vol_premium` Forecast

Next we grab the volatility forecasts that were precalculated in a notebook entitled `close_to_close_volatility_forecast_function`.   We'll start with the close-to-close estimator and add others later.  Eventually, these should probably end up in a the database.

In [ ]:
# currently this function is pretty trivial and doesn't do much
# but in the future it will read from a database and be able to select
# different methods of calculating volatility volatility
def get_vol_forecast(estimator='close-to-close'):
    df_vol_forecast = pd.read_csv('../data/close_to_close_forecasts.csv')
    return(df_vol_forecast)

In [ ]:
get_vol_forecast(estimator='close-to-close')

      ticker  week_num  week_start    week_end  close_to_close
0        DIA         0  2010-06-01  2010-06-04        0.363399
1        DIA         1  2010-06-07  2010-06-11        0.235762
2        DIA         2  2010-06-14  2010-06-18        0.139662
3        DIA         3  2010-06-21  2010-06-25        0.130178
4        DIA         4  2010-06-28  2010-07-02        0.160041
...      ...       ...         ...         ...             ...
17455    XRT       442  2018-11-19  2018-11-23        0.362015
17456    XRT       443  2018-11-26  2018-11-30        0.172415
17457    XRT       444  2018-12-03  2018-12-07        0.401701
17458    XRT       445  2018-12-10  2018-12-14        0.225990
17459    XRT       446  2018-12-17  2018-12-21        0.221403

[17460 rows x 5 columns]

Next, we `merge` in our volatility forecasts into `df_chain_history`.  This allows us to calcuclate a `vol_prem_forecast`.

In [ ]:
def get_vol_premium_forecast(df_chain_history, estimator='close-to-close'):

    # this will eventually 
    df_vol_forecast = get_vol_forecast(estimator)

    # joining together vol forecasts and calculating volatility premium
    df_chain_history = \
        (
        df_chain_history 
            .merge(df_vol_forecast, how='left',
                   left_on=['underlying', 'trade_date'],
                   right_on=['ticker', 'week_end'],)
            .assign(vol_prem_forecast = lambda df: df['swap_rate_mid'] - df['close_to_close'])
        )
    
    return(df_chain_history)

In [ ]:
df_chain_history = get_vol_premium_forecast(df_chain_history, estimator='close-to-close')
df_chain_history

,underlying,expiration,trade_date,implied_forward,d2x,swap_rate_bid,swap_rate_ask,swap_rate_mid,ticker,week_num,week_start,week_end,close_to_close,vol_prem_forecast
0,DIA,2010-06-11,2010-06-04,99.687,5,0.2894,0.3312,0.3110,DIA,0,2010-06-01,2010-06-04,0.363399,-0.052399
1,IWM,2010-06-11,2010-06-04,63.574,5,0.4466,0.4828,0.4650,IWM,0,2010-06-01,2010-06-04,0.588692,-0.123692
2,QQQ,2010-06-11,2010-06-04,45.180,5,0.3297,0.3340,0.3318,QQQ,0,2010-06-01,2010-06-04,0.400278,-0.068478
3,SPY,2010-06-11,2010-06-04,107.089,5,0.3258,0.3508,0.3385,SPY,0,2010-06-01,2010-06-04,0.420077,-0.081577

## Choosing Underlyings to Go Long and Short

Now that we have `vol_prem_forecasts`, we can choose which underlyings to go long, and which underlyings to go short.  In order to do this I will use the `leg_max` parameter.  The essential rule is that if there are more that `2 * leg_max` underlyings in the universe then we will go long `leg_max` underlyings and short `leg_max` underlyings.  If there are less that `2 * leg_max` underlyings, we will go short the floored half of the number of underlyings, and long the floored half of the underlyings.

In [ ]:
def get_directions(df_chain_history, leg_max):
    # determining leg-size
    leg_size = leg_max
    if len(df_chain_history) < 2 * leg_max:
        leg_size = len(df_chain_history) // 2

    # sort by vol premium, lowest on top, highest on bottom
    df_chain_history.sort_values(by=['vol_prem_forecast'], inplace=True)

    # go long the underlyings with the lowest vol premium
    longs = list(df_chain_history.head(leg_size)['underlying'])

    # go short the underlyings with the highest vol premium
    shorts = list(df_chain_history.tail(leg_size)['underlying'])

    # putting this information into a DataFrame
    # eventually this DataFrame will hold quantity information; 
    # quantity is the combined measure of size and direction.
    unds = longs + shorts
    dirs = leg_size * [1] + leg_size * [-1]
    df_direction = pd.DataFrame({
        'underlying':unds,
        'direction':dirs,
    })

    return(df_direction)

In [ ]:
df_directions = get_directions(df_chain_history, leg_max)
df_directions

  underlying  direction
0        IWM          1
1        SPY          1
2        QQQ         -1
3        DIA         -1

## Get All OTM Options for Each Underlying

Now, for each underlying that we are going to trade, we will read-in the full chain of OTM options from `otm_history`. The following function grabs the full otm option chain for a given `underlying`, `expiration`, and `trade_date`.

In [ ]:
def get_otm_options(underlying, expiration, trade_date):
    
    sql = f'''
    select *
    from otm_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and trade_date = '{trade_date}'
    order by strike;
    '''

    # creating sql alchemy engine
    url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'
    engine = sqlalchemy.create_engine(url)
    
    # grabbing data from database
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_otm = pd.DataFrame(query.fetchall())

    return df_otm

The function below iterates through `df_direction['underlying']` and capture all the chains in a `dict` called `otm_options`.

In [ ]:
def get_all_otm_options(df_directions):
    # results will be put in a Dict
    otm_options = {}
    
    # iterating through all underlyings
    # and grabbing OTM options
    for ix_underlying in df_directions['underlying']:
        df_otm = get_otm_options(ix_underlying, expiration, execution)
        otm_options[ix_underlying] = df_otm

    return(otm_options)

In [ ]:
otm_options = get_all_otm_options(df_directions)
for ix_underlying in otm_options:
    display(otm_options[ix_underlying])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,IWM,2010-06-11,put,55.0,2010-06-04,63.555,0.02,0.17,0.095,0.6087,0.0416
1,IWM,2010-06-11,put,56.0,2010-06-04,63.555,0.08,0.21,0.145,0.5978,0.0607
2,IWM,2010-06-11,put,57.0,2010-06-04,63.555,0.15,0.26,0.205,0.5784,0.0837
3,IWM,2010-06-11,put,58.0,2010-06-04,63.555,0.23,0.37,0.300,0.5660,0.1169
4,IWM,2010-06-11,put,59.0,2010-06-04,63.555,0.36,0.50,0.430,0.5532,0.1593
5,IWM,2010-06-11,put,60.0,2010-06-04,63.555,0.55,0.63,0.590,0.5343,0.2100
6,IWM,2010-06-11,put,61.0,2010-06-04,63.555,0.74,0.85,0.795,0.5134,0.2717
7,IWM,2010-06-11,put,62.0,2010-06-04,63.555,0.98,1.02,1.000,0.4735,0.3412
8,IWM,2010-06-11,put,63.0,2010-06-04,63.555,1.34,1.43,1.385,0.4658,0.4321
9,IWM,2010-06-11,call,64.0,2010-06-04,63.555,1.38,1.42,1.400,0.4476,0.4703
10,IWM,2010-06-11,call,65.0,2010-06-04,63.555,0.90,0.96,0.930,0.4261,0.3671
11,IWM,2010-06-11,call,66.0,2010-06-04,63.555,0.55,0.62,0.585,0.4108,0.2682
12,IWM,2010-06-11,call,67.0,2010-06-04,63.555,0.33,0.39,0.360,0.4049,0.1863
13,IWM,2010-06-11,call,68.0,2010-06-04,63.555,0.13,0.18,0.155,0.3676,0.1013
14,IWM,2010-06-11,call,69.0,2010-06-04,63.555,0.09,0.12,0.105,0.3868,0.0700

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,SPY,2010-06-11,put,100.0,2010-06-04,106.82,0.38,0.53,0.455,0.4461,0.1311
1,SPY,2010-06-11,put,101.0,2010-06-04,106.82,0.47,0.64,0.555,0.4289,0.1589
2,SPY,2010-06-11,put,102.0,2010-06-04,106.82,0.61,0.77,0.690,0.4144,0.1940
3,SPY,2010-06-11,put,103.0,2010-06-04,106.82,0.77,0.90,0.835,0.3950,0.2335
4,SPY,2010-06-11,put,104.0,2010-06-04,106.82,0.99,1.17,1.080,0.3883,0.2869
5,SPY,2010-06-11,put,105.0,2010-06-04,106.82,1.24,1.42,1.330,0.3726,0.3440
6,SPY,2010-06-11,put,106.0,2010-06-04,106.82,1.56,1.72,1.640,0.3576,0.4098
7,SPY,2010-06-11,put,107.0,2010-06-04,106.82,1.94,2.14,2.040,0.3465,0.4835
8,SPY,2010-06-11,call,108.0,2010-06-04,106.82,1.47,1.65,1.560,0.3280,0.4363
9,SPY,2010-06-11,call,109.0,2010-06-04,106.82,1.05,1.20,1.125,0.3182,0.3549
10,SPY,2010-06-11,call,110.0,2010-06-04,106.82,0.70,0.78,0.740,0.3018,0.2711
11,SPY,2010-06-11,call,111.0,2010-06-04,106.82,0.44,0.52,0.480,0.2935,0.1985
12,SPY,2010-06-11,call,112.0,2010-06-04,106.82,0.24,0.28,0.260,0.2752,0.1277
13,SPY,2010-06-11,call,113.0,2010-06-04,106.82,0.14,0.18,0.160,0.2747,0.0855
14,SPY,2010-06-11,call,114.0,2010-06-04,106.82,0.06,0.09,0.075,0.2616,0.0466
15,SPY,2010-06-11,call,115.0,2010-06-04,106.82,0.05,0.08,0.065,0.2829,0.0385

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,QQQ,2010-06-11,put,42.0,2010-06-04,45.0925,0.1,0.2,0.15,0.4330,0.1099
1,QQQ,2010-06-11,put,43.0,2010-06-04,45.0925,0.3,0.3,0.30,0.4234,0.1952
2,QQQ,2010-06-11,put,44.0,2010-06-04,45.0925,0.5,0.5,0.50,0.3908,0.3056
3,QQQ,2010-06-11,put,45.0,2010-06-04,45.0925,0.8,0.8,0.80,0.3501,0.4579
4,QQQ,2010-06-11,call,46.0,2010-06-04,45.0925,0.4,0.4,0.40,0.2884,0.3363
5,QQQ,2010-06-11,call,47.0,2010-06-04,45.0925,0.2,0.2,0.20,0.3098,0.1886

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta
0,DIA,2010-06-11,put,92.0,2010-06-04,99.44,0.04,0.34,0.190,0.4013,0.0738
1,DIA,2010-06-11,put,93.0,2010-06-04,99.44,0.21,0.42,0.315,0.4117,0.1100
2,DIA,2010-06-11,put,94.0,2010-06-04,99.44,0.32,0.51,0.415,0.3988,0.1415
3,DIA,2010-06-11,put,95.0,2010-06-04,99.44,0.37,0.57,0.470,0.3651,0.1680
4,DIA,2010-06-11,put,96.0,2010-06-04,99.44,0.58,0.82,0.700,0.3700,0.2269
5,DIA,2010-06-11,put,97.0,2010-06-04,99.44,0.79,0.93,0.860,0.3457,0.2791
6,DIA,2010-06-11,put,98.0,2010-06-04,99.44,1.07,1.19,1.130,0.3336,0.3495
7,DIA,2010-06-11,put,99.0,2010-06-04,99.44,1.39,1.53,1.460,0.3193,0.4301
8,DIA,2010-06-11,call,100.0,2010-06-04,99.44,1.40,1.62,1.510,0.2962,0.4784
9,DIA,2010-06-11,call,101.0,2010-06-04,99.44,0.90,1.15,1.025,0.2831,0.3790
10,DIA,2010-06-11,call,102.0,2010-06-04,99.44,0.55,0.67,0.610,0.2629,0.2740
11,DIA,2010-06-11,call,103.0,2010-06-04,99.44,0.27,0.50,0.385,0.2619,0.1928
12,DIA,2010-06-11,call,104.0,2010-06-04,99.44,0.15,0.26,0.205,0.2518,0.1197
13,DIA,2010-06-11,call,105.0,2010-06-04,99.44,0.06,0.20,0.130,0.2590,0.0800
14,DIA,2010-06-11,call,106.0,2010-06-04,99.44,0.02,0.06,0.040,0.2328,0.0317

## Get Trades

In the previous step we grabbed the full chain of OTM options for each underlying that we will be trading.  The following function constructs a strangle from a `DataFrame` of OTM options (of the format of the `otm_history` table) and a `target_delta` for each of the legs of the strangle.

In [ ]:
def get_strangle(df_otm_options, target_delta):
    strangle = []

    # calculating the abs diff between the delta and the target delta for all options
    df_otm_options['target_delta'] = target_delta
    df_otm_options['abs_delta_diff'] = abs(df_otm_options['delta'] - df_otm_options['target_delta'])

    # calculating the put trade
    df_put_trade = df_otm_options.query('cp=="put"').sort_values('abs_delta_diff').head(1)
    strangle.append(df_put_trade)

    # calculating the call trade
    df_call_trade = df_otm_options.query('cp=="call"').sort_values('abs_delta_diff').head(1)
    strangle.append(df_call_trade)

    df_strangle = pd.concat(strangle).reset_index(drop=True)

    return(df_strangle)

Let's test out the function to make sure that it is working.

In [ ]:
get_strangle(otm_options['QQQ'], 0.3)

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff
0,QQQ,2010-06-11,put,44.0,2010-06-04,45.0925,0.5,0.5,0.5,0.3908,0.3056,0.3,0.0056
1,QQQ,2010-06-11,call,46.0,2010-06-04,45.0925,0.4,0.4,0.4,0.2884,0.3363,0.3,0.0363

The following function iterates through all the underlyings that will be traded and constructs a strangle for each one.  Notice that the `target_delta` of the strangle is dependent on the direction of the strangle.  I'm guessing I will usually keep these pretty much the same, but it will be nice to have this lever to play around with.

In [ ]:
def get_all_strangle_trades(df_directions, delta_long, delta_short, otm_options):
    # results will be in a Dict
    trades = {}
    for ix_underlying in df_directions['underlying']:
        # grabbing direction from df_direction
        dir = df_directions.query('underlying==@ix_underlying')['direction'].iloc[0]

        # determine the direction of the trade
        if dir == 1:
            target_delta = delta_long
        else:
            target_delta = delta_short

        # calculate an individual strangle
        df_strangle = get_strangle(otm_options[ix_underlying], target_delta)
        df_strangle['direction'] = dir
        
        # adding strangle to dict
        trades[ix_underlying] = df_strangle
        
    return(trades)

Let's test the function and display it to the screen.

In [ ]:
strangle_trades = get_all_strangle_trades(df_directions, delta_long, delta_short, otm_options)

for ix_underlying in strangle_trades:
    display(strangle_trades[ix_underlying])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,IWM,2010-06-11,put,61.0,2010-06-04,63.555,0.74,0.85,0.795,0.5134,0.2717,0.3,0.0283,1
1,IWM,2010-06-11,call,66.0,2010-06-04,63.555,0.55,0.62,0.585,0.4108,0.2682,0.3,0.0318,1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,SPY,2010-06-11,put,104.0,2010-06-04,106.82,0.99,1.17,1.08,0.3883,0.2869,0.3,0.0131,1
1,SPY,2010-06-11,call,110.0,2010-06-04,106.82,0.70,0.78,0.74,0.3018,0.2711,0.3,0.0289,1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,QQQ,2010-06-11,put,44.0,2010-06-04,45.0925,0.5,0.5,0.5,0.3908,0.3056,0.3,0.0056,-1
1,QQQ,2010-06-11,call,46.0,2010-06-04,45.0925,0.4,0.4,0.4,0.2884,0.3363,0.3,0.0363,-1

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction
0,DIA,2010-06-11,put,97.0,2010-06-04,99.44,0.79,0.93,0.86,0.3457,0.2791,0.3,0.0209,-1
1,DIA,2010-06-11,call,102.0,2010-06-04,99.44,0.55,0.67,0.61,0.2629,0.2740,0.3,0.0260,-1

## Get Trade Sizes

Now we will get the trade sizes for each strangle.  This will be based on the `premium_budget`, and the mid price the strangles.

In [ ]:
def get_trade_sizes(df_directions, strangle_trades, premium_budget):
    # creating column in df directions to hold size and quantity
    df_directions['size'] = np.nan
    df_directions['quantity'] = np.nan
    
    # number of underlyings to trade
    num_und= len(df_directions)

    # iterating through all underlyings and calculating the trade size
    for ix_underlying in strangle_trades:
        df_strangle = strangle_trades[ix_underlying]
        
        # the strangle price is the sum of the mid prices
        strangle_price = df_strangle['mid'].sum()
    
        # will buy or sell premium_budget/num_und per underlying; and at least trade 1
        size = np.round((premium_budget / num_und) / (strangle_price * 100), 0)
        if size < 1:
            size = 1
    
        # save the size in the strangle trades
        df_strangle['size'] = size
        df_directions.loc[df_directions['underlying'] == ix_underlying, 'size'] = size
    
        # quantity will take into account direction and size
        quantity = df_strangle['direction'][0] * size #df_strangle['size']
        df_strangle['quantity'] = quantity
        df_directions.loc[df_directions['underlying'] == ix_underlying, 'quantity'] = quantity

    return df_directions, strangle_trades

In [ ]:
df_directions, strangle_trades = get_trade_sizes(df_directions, strangle_trades, premium_budget)

In [ ]:
df_directions

  underlying  direction  size  quantity
0        IWM          1   4.0       4.0
1        SPY          1   3.0       3.0
2        QQQ         -1   6.0      -6.0
3        DIA         -1   3.0      -3.0

In [ ]:
for ix_underlying in strangle_trades:
    display(strangle_trades[ix_underlying])

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,IWM,2010-06-11,put,61.0,2010-06-04,63.555,0.74,0.85,0.795,0.5134,0.2717,0.3,0.0283,1,4.0,4.0
1,IWM,2010-06-11,call,66.0,2010-06-04,63.555,0.55,0.62,0.585,0.4108,0.2682,0.3,0.0318,1,4.0,4.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,SPY,2010-06-11,put,104.0,2010-06-04,106.82,0.99,1.17,1.08,0.3883,0.2869,0.3,0.0131,1,3.0,3.0
1,SPY,2010-06-11,call,110.0,2010-06-04,106.82,0.70,0.78,0.74,0.3018,0.2711,0.3,0.0289,1,3.0,3.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,QQQ,2010-06-11,put,44.0,2010-06-04,45.0925,0.5,0.5,0.5,0.3908,0.3056,0.3,0.0056,-1,6.0,-6.0
1,QQQ,2010-06-11,call,46.0,2010-06-04,45.0925,0.4,0.4,0.4,0.2884,0.3363,0.3,0.0363,-1,6.0,-6.0

,underlying,expiration,cp,strike,trade_date,upx,bid,ask,mid,implied_vol,delta,target_delta,abs_delta_diff,direction,size,quantity
0,DIA,2010-06-11,put,97.0,2010-06-04,99.44,0.79,0.93,0.86,0.3457,0.2791,0.3,0.0209,-1,3.0,-3.0
1,DIA,2010-06-11,call,102.0,2010-06-04,99.44,0.55,0.67,0.61,0.2629,0.2740,0.3,0.0260,-1,3.0,-3.0

## Get Trade PNL History for An Individual Trade

Here I am creating a simple function that interacts with the database to get the `option_pnl_history` for a single option.

In [ ]:
def get_option_pnl_history(underlying, expiration, cp, strike, start_date, end_date):
    
    # constructing the query
    sql = f'''
    select * 
    from option_pnl_history
    where underlying = '{underlying}'
    and expiration = '{expiration}'
    and cp = '{cp}'
    and strike = '{strike}'
    and trade_date >= '{start_date}'
    and trade_date <= '{end_date}';
    '''

    # creating sql alchemy engine
    url = 'postgresql+psycopg2://postgres:$3lfl0v3@localhost:5432/delta_neutral'
    engine = sqlalchemy.create_engine(url)

    # quarying the database
    with engine.connect() as conn:
        query = conn.execute(text(sql))         
        df_option_history = pd.DataFrame(query.fetchall())

    # dropping unused columns
    cols_to_drop = ['implied_forward', 'implied_vol', 'sh_opt_ask', 'sh_opt_mid', 'sh_hedge', 'sh_total_mid', 'lg_opt_bid', 'lg_opt_mid', 'lg_hedge', 'lg_total_mid']
    df_option_history.drop(columns=cols_to_drop, inplace=True)
    
    return(df_option_history)

Just testing that the above function is working.

In [ ]:
# underlying='SPY'
# cp = 'call'
# strike = 110

# get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

This is a thin wrapper around the above function (`get_option_pnl_history`) that calculates the actual PNL of a trade, taking into account quantity, etc.  It's debatable whether I even need to break this into two functions, but I like the idea of doing so because it makes things more modular - there is a single function and all it does is grab the option history from the database.  I like the design principle that any function that interacts with the database be as simple as possible.

In [ ]:
def get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity):

    # grabbing pnl history from database
    df_pnl = get_option_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date)

    # making sure the pnls are in the right order and adding quantity
    df_pnl.sort_values(['d2x'], ascending=False, inplace=True)
    df_pnl['quantity'] = quantity
    df_pnl

    # using the correct pnl column based on direction of trade
    if quantity > 0:
        df_pnl['unit_pnl_bid_ask'] = df_pnl['lg_total_bid']
        df_pnl['unit_pnl_mid'] = df_pnl['lg_total_bid']
    else:
        df_pnl['unit_pnl_bid_ask'] = df_pnl['sh_total_ask']
        df_pnl['unit_pnl_mid'] = df_pnl['sh_total_ask']
    
    # filling in the execution date PNL with the negative of the spread
    spread = df_pnl['spread'].iloc[0]
    df_pnl.iloc[0, df_pnl.columns.get_loc('unit_pnl_bid_ask')] = -spread
    df_pnl.iloc[0, df_pnl.columns.get_loc('unit_pnl_mid')] = -spread / 2

    # calculating the dollar PNL, using size which is just the absolute value of quantity
    df_pnl['dollar_pnl_bid_ask'] = df_pnl['unit_pnl_bid_ask'] * np.abs(df_pnl['quantity']) * 100
    df_pnl['dollar_pnl_mid'] = df_pnl['unit_pnl_mid'] * np.abs(df_pnl['quantity']) * 100
    
    return(df_pnl)

Let's try out the pnl calculation function.

In [ ]:
# underlying = 'IWM'
# cp = 'put'
# strike = 61.
# quantity = -1

# get_trade_pnl_history(underlying, expiration, cp, strike, execution, last_trade_date, quantity)

## Get PNL History for All Trades

Now lets get the PNL histories for all the strangles in this `WeeklyTrial`.

In [ ]:
def get_strangle_histories(strangle_trades, execution, last_trade_date):
    strangle_histories = {}

    # iterate through all the strangles
    for ix_underlying in strangle_trades:
        sh = []
        # for each trade in a strangle, get its trade_pnl_history
        for index, row in strangle_trades[ix_underlying].iterrows():
            und = row['underlying']
            exp = row['expiration']
            cp = row['cp']
            k = row['strike']
            qty = row['quantity']
            th = get_trade_pnl_history(und, exp, cp, k, execution, last_trade_date, qty)
            sh.append(th)
        # creating a single DataFrame for each strangle
        strangle_history = pd.concat(sh)

        # putting the strangle DataFrame into a Dict, one entry per underlyings
        strangle_histories[ix_underlying] = strangle_history
    return(strangle_histories)

In [ ]:
strangle_histories = get_strangle_histories(strangle_trades, execution, last_trade_date)
for ix_underlying in strangle_histories:
    print(ix_underlying)
    display(strangle_histories[ix_underlying])

IWM

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl_bid_ask,unit_pnl_mid,dollar_pnl_bid_ask,dollar_pnl_mid
0,IWM,2010-06-11,put,61.0,2010-06-04,5,63.555,0.74,0.85,0.795,0.2717,NaN,NaN,0.11,4.0,-0.1100,-0.0550,-44.00,-22.00
1,IWM,2010-06-11,put,61.0,2010-06-07,4,61.920,0.94,1.02,0.980,0.3739,0.2742,-0.2442,0.08,4.0,-0.2442,-0.2442,-97.68,-97.68
2,IWM,2010-06-11,put,61.0,2010-06-08,3,61.890,0.76,0.82,0.790,0.3861,0.2112,-0.1912,0.06,4.0,-0.1912,-0.1912,-76.48,-76.48
3,IWM,2010-06-11,put,61.0,2010-06-09,2,61.930,0.52,0.60,0.560,0.3417,0.2046,-0.2246,0.08,4.0,-0.2246,-0.2246,-89.84,-89.84
4,IWM,2010-06-11,put,61.0,2010-06-10,1,64.070,0.00,0.05,0.025,0.0369,-0.1812,0.2112,0.05,4.0,0.2112,0.2112,84.48,84.48
5,IWM,2010-06-11,put,61.0,2010-06-11,0,64.940,0.00,0.00,0.000,0.0000,0.0179,0.0321,0.00,4.0,0.0321,0.0321,12.84,12.84
0,IWM,2010-06-11,call,66.0,2010-06-04,5,63.555,0.55,0.62,0.585,0.2682,NaN,NaN,0.07,4.0,-0.0700,-0.0350,-28.00,-14.00
1,IWM,2010-06-11,call,66.0,2010-06-07,4,61.920,0.08,0.16,0.120,0.0926,0.0215,-0.0315,0.08,4.0,-0.0315,-0.0315,-12.60,-12.60
2,IWM,2010-06-11,call,66.0,2010-06-08,3,61.890,0.06,0.09,0.075,0.0652,0.0672,-0.0172,0.03,4.0,-0.0172,-0.0172,-6.88,-6.88
3,IWM,2010-06-11,call,66.0,2010-06-09,2,61.930,0.00,0.08,0.040,0.0435,0.0126,-0.0626,0.08,4.0,-0.0626,-0.0626,-25.04,-25.04
4,IWM,2010-06-11,call,66.0,2010-06-10,1,64.070,0.01,0.07,0.040,0.0673,0.1031,-0.0831,0.06,4.0,-0.0831,-0.0831,-33.24,-33.24
5,IWM,2010-06-11,call,66.0,2010-06-11,0,64.940,0.00,0.00,0.000,0.0000,0.1286,-0.0686,0.00,4.0,-0.0686,-0.0686,-27.44,-27.44

SPY

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl_bid_ask,unit_pnl_mid,dollar_pnl_bid_ask,dollar_pnl_mid
0,SPY,2010-06-11,put,104.0,2010-06-04,5,106.82,0.99,1.17,1.080,0.2869,NaN,NaN,0.18,3.0,-0.1800,-0.0900,-54.00,-27.00
1,SPY,2010-06-11,put,104.0,2010-06-07,4,105.49,1.19,1.24,1.215,0.3636,0.3116,-0.1816,0.05,3.0,-0.1816,-0.1816,-54.48,-54.48
2,SPY,2010-06-11,put,104.0,2010-06-08,3,106.62,0.48,0.57,0.525,0.2413,0.2591,-0.2991,0.09,3.0,-0.2991,-0.2991,-89.73,-89.73
3,SPY,2010-06-11,put,104.0,2010-06-09,2,106.05,0.55,0.56,0.555,0.2688,0.1475,-0.0675,0.01,3.0,-0.0675,-0.0675,-20.25,-20.25
4,SPY,2010-06-11,put,104.0,2010-06-10,1,109.15,0.03,0.05,0.040,0.0347,-0.3233,0.3133,0.02,3.0,0.3133,0.3133,93.99,93.99
5,SPY,2010-06-11,put,104.0,2010-06-11,0,109.68,0.00,0.00,0.000,0.0000,0.0316,-0.0116,0.00,3.0,-0.0116,-0.0116,-3.48,-3.48
0,SPY,2010-06-11,call,110.0,2010-06-04,5,106.82,0.70,0.78,0.740,0.2711,NaN,NaN,0.08,3.0,-0.0800,-0.0400,-24.00,-12.00
1,SPY,2010-06-11,call,110.0,2010-06-07,4,105.49,0.21,0.24,0.225,0.1239,0.1794,-0.1294,0.03,3.0,-0.1294,-0.1294,-38.82,-38.82
2,SPY,2010-06-11,call,110.0,2010-06-08,3,106.62,0.12,0.20,0.160,0.1153,0.1800,-0.2300,0.08,3.0,-0.2300,-0.2300,-69.00,-69.00
3,SPY,2010-06-11,call,110.0,2010-06-09,2,106.05,0.08,0.11,0.095,0.0775,0.0243,0.0257,0.03,3.0,0.0257,0.0257,7.71,7.71
4,SPY,2010-06-11,call,110.0,2010-06-10,1,109.15,0.30,0.37,0.335,0.3030,-0.0197,-0.0203,0.07,3.0,-0.0203,-0.0203,-6.09,-6.09
5,SPY,2010-06-11,call,110.0,2010-06-11,0,109.68,0.00,0.00,0.000,0.0000,0.5306,-0.4606,0.00,3.0,-0.4606,-0.4606,-138.18,-138.18

QQQ

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl_bid_ask,unit_pnl_mid,dollar_pnl_bid_ask,dollar_pnl_mid
0,QQQ,2010-06-11,put,44.0,2010-06-04,5,45.0925,0.5,0.5,0.50,0.3056,NaN,NaN,0.0,-6.0,-0.0000,-0.0000,-0.00,-0.00
1,QQQ,2010-06-11,put,44.0,2010-06-07,4,44.2700,0.6,0.7,0.65,0.4327,0.0514,-0.1514,0.1,-6.0,0.0514,0.0514,30.84,30.84
2,QQQ,2010-06-11,put,44.0,2010-06-08,3,44.1900,0.5,0.5,0.50,0.4429,0.2346,-0.1346,0.0,-6.0,0.2346,0.2346,140.76,140.76
3,QQQ,2010-06-11,put,44.0,2010-06-09,2,43.8200,0.6,0.6,0.60,0.5443,0.0639,-0.0639,0.0,-6.0,0.0639,0.0639,38.34,38.34
4,QQQ,2010-06-11,put,44.0,2010-06-10,1,45.0700,0.1,0.1,0.10,0.1758,-0.1804,0.1804,0.0,-6.0,-0.1804,-0.1804,-108.24,-108.24
5,QQQ,2010-06-11,put,44.0,2010-06-11,0,45.5000,0.0,0.0,0.00,0.0000,0.0244,-0.0244,0.0,-6.0,0.0244,0.0244,14.64,14.64
0,QQQ,2010-06-11,call,46.0,2010-06-04,5,45.0925,0.4,0.4,0.40,0.3363,NaN,NaN,0.0,-6.0,-0.0000,-0.0000,-0.00,-0.00
1,QQQ,2010-06-11,call,46.0,2010-06-07,4,44.2700,0.1,0.2,0.15,0.1678,-0.0766,-0.0234,0.1,-6.0,-0.0766,-0.0766,-45.96,-45.96
2,QQQ,2010-06-11,call,46.0,2010-06-08,3,44.1900,0.0,0.1,0.05,0.0857,0.0866,-0.0866,0.1,-6.0,0.0866,0.0866,51.96,51.96
3,QQQ,2010-06-11,call,46.0,2010-06-09,2,43.8200,0.0,0.0,0.00,0.0000,0.0683,0.0317,0.0,-6.0,0.0683,0.0683,40.98,40.98
4,QQQ,2010-06-11,call,46.0,2010-06-10,1,45.0700,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,-6.0,0.0000,0.0000,0.00,0.00
5,QQQ,2010-06-11,call,46.0,2010-06-11,0,45.5000,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,-6.0,0.0000,0.0000,0.00,0.00

DIA

,underlying,expiration,cp,strike,trade_date,d2x,upx,bid,ask,mid,delta,sh_total_ask,lg_total_bid,spread,quantity,unit_pnl_bid_ask,unit_pnl_mid,dollar_pnl_bid_ask,dollar_pnl_mid
0,DIA,2010-06-11,put,97.0,2010-06-04,5,99.440,0.79,0.93,0.860,0.2791,NaN,NaN,0.14,-3.0,-0.1400,-0.0700,-42.00,-21.00
1,DIA,2010-06-11,put,97.0,2010-06-07,4,98.268,0.91,1.05,0.980,0.3589,0.2071,-0.2071,0.14,-3.0,0.2071,0.2071,62.13,62.13
2,DIA,2010-06-11,put,97.0,2010-06-08,3,99.440,0.34,0.42,0.380,0.2140,0.2094,-0.1494,0.08,-3.0,0.2094,0.2094,62.82,62.82
3,DIA,2010-06-11,put,97.0,2010-06-09,2,99.150,0.26,0.35,0.305,0.2050,0.1321,-0.1421,0.09,-3.0,0.1321,0.1321,39.63,39.63
4,DIA,2010-06-11,put,97.0,2010-06-10,1,101.880,0.02,0.06,0.040,0.0361,-0.2696,0.3196,0.04,-3.0,-0.2696,-0.2696,-80.88,-80.88
5,DIA,2010-06-11,put,97.0,2010-06-11,0,102.310,0.00,0.00,0.000,0.0000,0.0445,-0.0045,0.00,-3.0,0.0445,0.0445,13.35,13.35
0,DIA,2010-06-11,call,102.0,2010-06-04,5,99.440,0.55,0.67,0.610,0.2740,NaN,NaN,0.12,-3.0,-0.1200,-0.0600,-36.00,-18.00
1,DIA,2010-06-11,call,102.0,2010-06-07,4,98.268,0.12,0.25,0.185,0.1234,0.0989,-0.1089,0.13,-3.0,0.0989,0.0989,29.67,29.67
2,DIA,2010-06-11,call,102.0,2010-06-08,3,99.440,0.12,0.20,0.160,0.1361,0.1946,-0.1446,0.08,-3.0,0.1946,0.1946,58.38,58.38
3,DIA,2010-06-11,call,102.0,2010-06-09,2,99.150,0.06,0.15,0.105,0.1006,0.0105,-0.0205,0.09,-3.0,0.0105,0.0105,3.15,3.15
4,DIA,2010-06-11,call,102.0,2010-06-10,1,101.880,0.45,0.52,0.485,0.4499,-0.0954,0.1154,0.07,-3.0,-0.0954,-0.0954,-28.62,-28.62
5,DIA,2010-06-11,call,102.0,2010-06-11,0,102.310,0.31,0.31,0.310,1.0000,0.4035,-0.3335,0.00,-3.0,0.4035,0.4035,121.05,121.05

## PNL by Underlying

In [ ]:
def get_pnl_by_underlying(df_directions, strangle_histories):
    # looping through all the strangle trades
    for ix_underlying in strangle_histories:
        df_strangle_history = strangle_histories[ix_underlying]
        # calculating the daily bid-ask PNLs
        df_strangle_daily_pnl_bid_ask = \
            (
            df_strangle_history
                .groupby('trade_date')[['dollar_pnl_bid_ask']].sum()
                .reset_index()
            )
        # calculating the daily mid PNLs
        df_strangle_daily_pnl_mid = \
            (
            df_strangle_history
                .groupby('trade_date')[['dollar_pnl_mid']].sum()
                .reset_index()
            )
        # summing up the daily pnls for a weekly total pnls
        strangle_pnl_bid_ask = df_strangle_daily_pnl_bid_ask['dollar_pnl_bid_ask'].sum()
        strangle_pnl_mid = df_strangle_daily_pnl_mid['dollar_pnl_mid'].sum()
        # saving the weekly total PNL 
        df_directions.loc[df_directions['underlying'] == ix_underlying, 'pnl_bid_ask'] = strangle_pnl_bid_ask
        df_directions.loc[df_directions['underlying'] == ix_underlying, 'pnl_mid'] = strangle_pnl_mid

    return(df_directions)

In [ ]:
df_directions = get_pnl_by_underlying(df_directions, strangle_histories)
df_directions

  underlying  direction  size  quantity  pnl_bid_ask  pnl_mid
0        IWM          1   4.0       4.0      -343.88  -307.88
1        SPY          1   3.0       3.0      -396.33  -357.33
2        QQQ         -1   6.0      -6.0       163.32   163.32
3        DIA         -1   3.0      -3.0       202.68   241.68

## Daily PNL for Entire Strategy

In [ ]:
def get_trial_daily_pnls(strangle_histories):
    underlying_pnls = []
    # iterating through strangle histories
    for ix_underlying in strangle_histories:
        df = strangle_histories[ix_underlying]
        underlying_pnls.append(df)
    # putting all strangle histories into a single DataFrame
    df_underlying_pnls = pd.concat(underlying_pnls)

    # calculating daily PNLs for entire trial    
    df_daily_pnls = \
        (
        df_underlying_pnls.groupby(['trade_date'])[['dollar_pnl_bid_ask', 'dollar_pnl_mid']].sum()
        .reset_index()
        )
    
    return(df_daily_pnls)

In [ ]:
df_trial_daily_pnls = get_trial_daily_pnls(strangle_histories)
df_trial_daily_pnls

   trade_date  dollar_pnl_bid_ask  dollar_pnl_mid
0  2010-06-04             -228.00         -114.00
1  2010-06-07             -126.90         -126.90
2  2010-06-08               71.83           71.83
3  2010-06-09               -5.32           -5.32
4  2010-06-10              -78.60          -78.60
5  2010-06-11               -7.22           -7.22

In [ ]:
weekly_trial_pnl_bid_ask = df_trial_daily_pnls['dollar_pnl_bid_ask'].sum()
weekly_trial_pnl_mid = df_trial_daily_pnls['dollar_pnl_mid'].sum()
print(weekly_trial_pnl_bid_ask)
print(weekly_trial_pnl_mid)

-374.21
-260.21000000000004