In [ ]:
import pandas as pd
import numpy as np

In [ ]:
underlying = ['QQQ', 'DIA', 'IWM', 'SPY']
direction = [1, 1, -1, -1]
size = [8., 5., 4., 3.]
df = pd.DataFrame({
    'underlying':underlying,
    'direction':direction,
})

In [ ]:
df['size'] = np.nan
df['quantity'] = np.nan

In [ ]:
df

  underlying  direction  size  quantity
0        QQQ          1   NaN       NaN
1        DIA          1   NaN       NaN
2        IWM         -1   NaN       NaN
3        SPY         -1   NaN       NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   underlying  4 non-null      object
 1   direction   4 non-null      int64
 2   size        0 non-null      float64
 3   quantity    0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 256.0+ bytes

In [ ]:
for ix in range(0, len(df)):
    s = size[ix]
    d = df['direction'][ix]
    u = df['underlying'][ix]
    q = s * d
    df.loc[df['underlying'] == u, 'size'] = s
    df.loc[df['underlying'] == u, 'quantity'] = q

In [ ]:
df

  underlying  direction  size  quantity
0        QQQ          1   8.0       8.0
1        DIA          1   5.0       5.0
2        IWM         -1   4.0      -4.0
3        SPY         -1   3.0      -3.0